<!DOCTYPE html>
<html lang="ka">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ქარდები</title>

    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <button class="btn btn-red">უკან</button>

    <button class="btn btn-blue">ფოტო</button>

    <a href="#" class="btn btn-red btn-with-icon">
      <span>
        <svg>
          <use
            href="../assets/images/icons/arrow-left-small.svg#arrow-left-small"
          />
        </svg>
      </span>
      <span> ახალი წერილის გაგზანა </span>
    </a>
  </body>
</html>
