<!DOCTYPE html>
<html lang="ka">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ქარდები</title>

    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <div class="content-wrapper">
      <div class="container">
        <h2 class="mb-md">მთავარი ახალი ამბის ქარდი</h2>
        <div class="grid-12 mb-lg">
          <!-- მთავარი ახალი ამბების ქარდი -->
          <article class="card card--featured span-7">
            <a href="#" class="card__wrapper">
              <div class="card__meta">
                <figure class="card__figure">
                  <img
                    src="assets/images/article-01.png"
                    alt=""
                    class="card__image"
                  />
                </figure>

                <div class="timestamp">
                  <time datetime="" class="datetime-stamp"
                    >16 დეკმბერი 2020</time
                  >
                </div>
              </div>

              <div class="card__texts">
                <h3 class="card__title">
                  პრეზიდენტის ადმინისტრაციამ კონსტიტუციის ქართულ-აფხაზური ვერსია
                  გამოსცა
                </h3>
                <p class="card__body">
                  საქართველოს პრეზიდენტმა სალომე ზურაბიშვილმა მოსახლეობას
                  აფხაზური ენის დღე მიულოცა და აღნიშნა.
                </p>
              </div>
            </a>
          </article>
          <!-- მთავარი ახალი ამბების ქარდი -->
        </div>

        <h2 class="mb-md">ახალი ამბის ქარდი</h2>
        <div class="grid-12 mb-lg">
          <!-- ახალი ამბების ქარდი: ფოტო -->
          <article class="card span-4">
            <a href="#" class="card__wrapper">
              <div class="card__meta">
                <figure class="card__figure">
                  <img
                    src="assets/images/article-01.png"
                    alt=""
                    class="card__image"
                  />
                </figure>

                <div class="timestamp">
                  <time datetime="" class="datetime-stamp"
                    >16 დეკმბერი 2020</time
                  >
                </div>
              </div>

              <div class="card__texts">
                <h3 class="card__title">
                  პრეზიდენტის ადმინისტრაციამ კონსტიტუციის ქართულ-აფხაზური ვერსია
                  გამოსცა
                </h3>
              </div>
            </a>
          </article>

          <!-- ახალი ამბების ქარდი: ვიდეო -->
          <article class="card span-4">
            <a href="#" class="card__wrapper">
              <div class="card__meta">
                <figure class="card__figure">
                  <video
                    class="card__video"
                    src="assets/video/video.mp4"
                  ></video>

                  <button class="btn-play" aria-label="play" data-play>
                    <svg>
                      <use href="assets/images/icons/play.svg#play" />
                    </svg>
                  </button>
                </figure>

                <div class="timestamp">
                  <time datetime="" class="datetime-stamp"
                    >16 დეკმბერი 2020</time
                  >
                </div>
              </div>

              <div class="card__texts">
                <h3 class="card__title">
                  პრეზიდენტის ადმინისტრაციამ კონსტიტუციის ქართულ-აფხაზური ვერსია
                  გამოსცა
                </h3>
              </div>
            </a>
          </article>
        </div>

        <h2 class="mb-md">ფეისბუქის სლაიდერის ქარდი</h2>
        <div class="grid-12 mb-lg">
          <!-- ფეისბუქის ქარდი -->
          <article class="card-fb span-5">
            <div class="fb-handle">
              <div class="fb-icon"></div>
              <a href="#">@zourabichvilisalome</a>
            </div>

            <figure>
              <img src="assets/images/article-01.png" alt="" />
            </figure>

            <p class="body">
              საქართველოს პრეზიდენტმა სალომე ზურაბიშვილმა მოსახლეობას აფხაზური
              ენის დღე მიულოცა და აღნიშნა.
            </p>

            <time datetime="">10.12.2021 09:46</time>
          </article>
        </div>

        <h2 class="mb-md">მიმართვების ქარდი</h2>
        <div class="grid-12 mb-lg">
          <!-- მიმართვების ქარდი -->
          <div class="span-4">
            <article class="address-card">
              <a href="#" class="address-card__wrapper">
                <figure class="address-card__figure">
                  <img
                    src="assets/images/address.jpg"
                    alt=""
                    class="address-card__image"
                  />
                </figure>

                <div class="timestamp">
                  <time datetime="" class="datetime-stamp"
                    >16 დეკმბერი 2020</time
                  >
                </div>

                <h3 class="address-card__title">
                  საქართველოს პრეზიდენტის სიტყვა საქართველოს
                  კათოლიკოს-პატრიარქის უწმიდესი და უნეტარესი ილია II-სათვის,
                  საპატიო დოქტორის (honoris causa) ხარისხის მინიჭების
                  ცერემონიალზე
                </h3>
              </a>
            </article>
          </div>
        </div>

        <h2 class="mb-md">პუბლიკაციების ქარდი</h2>
        <div class="grid-12 mb-lg">
          <!-- პუბლიკაციების ქარდი -->
          <article class="publication span-5">
            <figure class="publication-cover">
              <img src="assets/images/publication.jpg" alt="" />
            </figure>

            <h3>„La tragédie géorgienne“</h3>
            <p>– Edition Grasset, Paris, 2009.</p>

            <a href="#">წაკითხვა</a>
          </article>
        </div>

        <h2 class="mb-md">უცხოური მედიის სლაიდერის ქარდი</h2>
        <div class="grid-12">
          <!-- უცხოური მედიის სლაიდერის ქარდი -->
          <article class="foreign-press-article span-4">
            <figure>
              <img src="assets/images/foreign-press.jpg" alt="" />
              <figcaption>12.02.20</figcaption>
            </figure>
            <h3>
              <a href="#">
                საქართველოს პრეზიდენტის ინტერვიუ ლიეტუვის საზოგადოებრივ
                მაუწყებელთან LRT საქართველოს პრეზიდენტის ინტერვიუ ლიეტუვის
                საზოგადოებრივ მაუწყებელთან LRT
              </a>
            </h3>
          </article>
        </div>
      </div>
    </div>
  </body>
</html>
