<!DOCTYPE html>
<html lang="ka">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="საქართველოს პრეზიდენტი" />

    <title>საქართველოს პრეზიდენტი | ხშირად დასმული კითხვები</title>

    <!-- Styles -->
    <link rel="stylesheet" href="assets/css/style.css" />

    <!-- Javascript -->
    <script type="module" src="assets/js/script.js"></script>
  </head>
  <body>
    <div class="banner">
      <div class="container">
        <h1>ხშირად დასმული კითხვები</h1>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="container-narrow">
        <ul class="file-list">
          <li>
            <div class="faq">
              <button class="faq-trigger">
                <div class="flex">
                  <div class="file-icon">
                    <svg>
                      <use href="assets/images/icons/faq.svg#faq" />
                    </svg>
                  </div>

                  <h3 class="faq-heading">ხშირად დასმული კითხვა</h3>
                </div>

                <span class="icon">
                  <svg>
                    <use
                      href="assets/images/icons/arrow-down-small.svg#arrow-down-small"
                    />
                  </svg>
                </span>
              </button>

              <div class="faq-content">
                <p>
                  დაიბადა 1952 წლის 18 მარტს პარიზში (საფრანგეთი). იცის ქართული,
                  ფრანგული, ინგლისური (თავისუფლად) და იტალიური (სასაუბრო დონეზე)
                  ენები. 1969 - 1972 პოლიტიკურ მეცნიერებათა ინსტიტუტი, პარიზი,
                  საფრანგეთი. 1972 - 1973 კოლუმბიის უნივერსიტეტი, საერთაშორისო
                  და საზოგადოებრივ საქმეთა სკოლა, ნიუ-იორკი, ამერიკის შეერთებული
                  შტატები…
                </p>
              </div>
            </div>
          </li>

          <li>
            <div class="faq">
              <button class="faq-trigger">
                <div class="flex">
                  <div class="file-icon">
                    <svg>
                      <use href="assets/images/icons/faq.svg#faq" />
                    </svg>
                  </div>

                  <h3 class="faq-heading">ხშირად დასმული კითხვა</h3>
                </div>

                <span class="icon">
                  <svg>
                    <use
                      href="assets/images/icons/arrow-down-small.svg#arrow-down-small"
                    />
                  </svg>
                </span>
              </button>

              <div class="faq-content">
                <p>
                  დაიბადა 1952 წლის 18 მარტს პარიზში (საფრანგეთი). იცის ქართული,
                  ფრანგული, ინგლისური (თავისუფლად) და იტალიური (სასაუბრო დონეზე)
                  ენები. 1969 - 1972 პოლიტიკურ მეცნიერებათა ინსტიტუტი, პარიზი,
                  საფრანგეთი. 1972 - 1973 კოლუმბიის უნივერსიტეტი, საერთაშორისო
                  და საზოგადოებრივ საქმეთა სკოლა, ნიუ-იორკი, ამერიკის შეერთებული
                  შტატები…
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
