<!DOCTYPE html>
<html lang="ka">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ფაილები</title>

    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body class="geo">
    <div class="content-wrapper">
      <div class="container">
        <div class="grid-12 mb-lg">
          <!-- საკანონმდებლო აქტი & გადმოწერა -->
          <div class="legal-act span-12">
            <div class="legal-act-icon">
              <svg width="18" height="24.968">
                <use href="../assets/images/icons/legal-act.svg#legal-act" />
              </svg>
            </div>

            <div class="legal-act-content">
              <h3 class="legal-act-title">
                საქართველოს პრეზიდენტის განკარგულება N13/04/02
              </h3>
              <time>15 დეკმბერი 2020</time>
              <p>
                ეკა ბუცხრიკიძის, გვანცა გოგავასი და ანა ნაცარაშვილის ღირსების
                მედლით დაჯილდოების შესახებ
              </p>
            </div>

            <button class="legal-act-download">
              <span>ჩამოტვირთვა</span>
              <span class="icon">
                <svg width="11.845" height="11.845">
                  <use
                    href="../assets/images/icons/arrow-down-small.svg#arrow-down-small"
                  />
                </svg>
              </span>
            </button>
          </div>
          <!-- საკანონმდებლო აქტი & გადმოწერა -->
        </div>

        <div class="grid-12">
          <!-- საკანონმდებლო აქტი -->
          <div class="legal-act span-4">
            <div class="legal-act-icon">
              <svg width="18" height="24.968">
                <use href="../assets/images/icons/legal-act.svg#legal-act" />
              </svg>
            </div>

            <div class="legal-act-content">
              <h3 class="legal-act-title">სამართლებრივი აქტის დასახელება</h3>
              <a href="#" class="legal-act-link">დეტალურად</a>
            </div>
          </div>
          <!-- საკანონმდებლო აქტი -->

          <div class="legal-act span-4">
            <div class="legal-act-icon">
              <svg width="18" height="24.968">
                <use href="../assets/images/icons/legal-act.svg#legal-act" />
              </svg>
            </div>

            <div class="legal-act-content">
              <h3 class="legal-act-title">სამართლებრივი აქტის დასახელება</h3>
              <a href="#" class="legal-act-link">დეტალურად</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
