<!DOCTYPE html>
<html lang="ka">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>სურათები</title>

    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <div class="content-wrapper">
      <div class="container">
        <h2>სურათი აღწერით</h2>

        <div class="mb-lg">
          <figure class="image image-caption image-caption-bottom">
            <img src="assets/images/occupied-territories.png" alt="" />
            <figcaption>საქართველოს ოკუპირებული ზონები</figcaption>
          </figure>
        </div>

        <div class="mb-lg">
          <figure class="image image-caption image-caption-left">
            <img src="assets/images/occupied-territories.png" alt="" />
            <figcaption>საქართველოს ოკუპირებული ზონები</figcaption>
          </figure>
        </div>

        <div class="mb-lg">
          <figure class="image image-caption image-caption-right">
            <img src="assets/images/occupied-territories.png" alt="" />
            <figcaption>საქართველოს ოკუპირებული ზონები</figcaption>
          </figure>
        </div>

        <hr />

        <h2>გალერეის სურათი</h2>

        <div class="grid-3">
          <div class="gallery-item">
            <figure>
              <img src="assets/images/kakheti.png" alt="" />

              <button class="imagebtn">
                <svg>
                  <use href="assets/images/icons/expand.svg#expand" />
                </svg>
              </button>
            </figure>

            <h3 class="gallery-item-title">გალერეის დასათაურება თუკი აქვს</h3>
          </div>

          <div class="gallery-item">
            <figure>
              <img src="assets/images/kakheti.png" alt="" />

              <button class="imagebtn">
                <svg>
                  <use href="assets/images/icons/expand.svg#expand" />
                </svg>
              </button>
            </figure>

            <h3 class="gallery-item-title">გალერეის დასათაურება თუკი აქვს</h3>
          </div>

          <div class="gallery-item">
            <figure>
              <img src="assets/images/kakheti.png" alt="" />

              <button class="imagebtn">
                <svg>
                  <use href="assets/images/icons/expand.svg#expand" />
                </svg>
              </button>
            </figure>

            <h3 class="gallery-item-title">გალერეის დასათაურება თუკი აქვს</h3>
          </div>
        </div>

        <hr />

        <h2>გალერეის ვიდეო</h2>

        <div class="grid-3">
          <div class="gallery-item">
            <figure>
              <video>
                <source src="assets/video/video.mp4" type="video/mp4" />
                Your browser does not support the video tag.
              </video>

              <button class="btn-play" aria-label="play" data-play>
                <svg>
                  <use href="assets/images/icons/play.svg#play" />
                </svg>
              </button>
            </figure>

            <h3 class="gallery-item-title">გალერეის დასათაურება თუკი აქვს</h3>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
