<!DOCTYPE html>
<html lang="ka">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ოფიციალური პირები</title>

    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body class="geo">
    <div class="content-wrapper">
      <div class="container">
        <!-- ადმინისტრაციის თანამშრომელი სურათით -->
        <div class="administration-official">
          <figure class="administration-official-image">
            <img src="assets/images/ზურაბ-მაჭარაძე.jpeg" alt="" />
          </figure>

          <div>
            <h2>
              <a href="#"> ანგი ხუციშვილი </a>
            </h2>
            <p>
              საქართველოს პრეზიდენტის კონსულტანტი საკანონმდებლო ორგანოსთან
              ურთიერთობის საკითხებში საქართველოს პრეზიდენტის ადმინისტრაციის
              უფროსის მოადგილე
            </p>
          </div>

          <a href="#">
            <svg class="arrorw-right-small">
              <use
                href="assets/images/icons/arrow-right-small.svg#arrow-right-small"
              />
            </svg>
          </a>
        </div>
        <!-- ადმინისტრაციის თანამშრომელი სურათით -->

        <!-- ადმინისტრაციის თანამშრომელი -->
        <div class="administration-official">
          <div>
            <h2>
              <a href="#"> თამარ გოდერძიშვილი </a>
            </h2>
            <p>
              საქართველოს პრეზიდენტის ადმინისტრაციის საფინანსო სამსახურის
              ხელმძღვანელი
            </p>
          </div>

          <a href="#">
            <svg class="arrorw-right-small">
              <use
                href="assets/images/icons/arrow-right-small.svg#arrow-right-small"
              />
            </svg>
          </a>
        </div>
        <!-- ადმინისტრაციის თანამშრომელი -->

        <!-- ყოფილი პრეზიდენტი -->
        <div class="administration-official former-president">
          <figure class="former-president-image">
            <img src="assets/images/margvelashvili.jpeg" alt="" />
          </figure>

          <div>
            <time class="former-president-years">2013 -2018</time>
            <h2 class="former-president-name">
              <a href="#"> გიორგი მარგველაშვილი </a>
            </h2>
          </div>

          <a href="#">
            <svg class="arrorw-right-small">
              <use
                href="assets/images/icons/arrow-right-small.svg#arrow-right-small"
              />
            </svg>
          </a>
        </div>
        <!-- ყოფილი პრეზიდენტი -->
      </div>
    </div>
  </body>
</html>
