<!DOCTYPE html>
<html lang="ka">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagination</title>

    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <div class="pagination">
      <ul>
        <li>
          <a href="#">
            <svg class="arrorw-left-small">
              <use
                href="../assets/images/icons/arrow-left-small.svg#arrow-left-small"
              />
            </svg>
          </a>
        </li>
        <li><a href="#" class="active">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li>
          <a href="#">
            <svg class="arrorw-right-small">
              <use
                href="../assets/images/icons/arrow-right-small.svg#arrow-right-small"
              />
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>
