@use '../02_base/variables' as v;
@use '../02_base/mixins' as m;

.article {
  margin: 0 auto;
  max-width: 1200px;

  &__heading {
    margin-bottom: 2em;
  }

  &__main-image {
    margin: 3.625em 0 5em !important;
  }

  h2,
  h3,
  h4 {
    margin-top: 2em;
    margin-bottom: 0.5em;
  }

  figure {
    margin: 2em 0;
  }

  img {
    margin: 0 auto;
    max-width: 800px;
    height: auto;
    object-fit: cover;
  }

  hr {
    margin: 2em 0;
    border: none;
    border-top: 1px solid #cccccc;
  }

  ul {
    margin-left: 2em;
    list-style-type: disc;

    li {
      &:not(:last-child) {
        margin-bottom: 0.75em;
      }
    }
  }

  &__youtube {
    margin: 2em 0;
    display: flex;
    place-content: center;

    iframe {
      @include m.size(100%, 220px);

      @media only screen and (min-width: v.$sm) {
        @include m.size(560px, 315px);
      }

      @media only screen and (min-width: v.$lg) {
        @include m.size(800px, 446px);
      }
    }

    &--lg {
      iframe {
        @media only screen and (min-width: v.$lg) {
          @include m.size(1150px, 640px);
        }
      }
    }
  }

  &-footer {
    position: relative;
    margin-top: 6em;

    &::before {
      @include m.pseudo($width: 40px, $height: 2px);
      top: -2em;
      left: 50%;
      transform: translateX(-50%);
      background: v.$color-blue-700;
    }

    text-align: center;
  }
}
