@use "../02_base/variables" as v;
@use "../02_base/mixins" as m;

.article {
  &__heading {
    margin-bottom: 2em;
  }

  &__main-image {
    margin: 3.625em 0 5em !important;
  }

  &__image {
    --width: 100%;

    @media only screen and (min-width: v.$md) {
      --width: 600px;
    }

    @media only screen and (min-width: v.$xl) {
      --width: 800px;
    }

    position: relative;
    margin: 48px auto;
    width: var(--width);
    height: auto;
    object-fit: cover;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__caption {
    position: relative;
    width: 100%;
    max-width: 248px;
    text-align: left;
    margin-top: 32px;

    @media only screen and (min-width: v.$lg) {
      position: absolute;
      left: calc(100% + 32px);
      bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: -21px;
      left: 0;
      height: 1px;
      width: 70px;
      background: #666666;
    }
  }

  h2,
  h3,
  h4 {
    margin-top: 2em;
    margin-bottom: 0.5em;
  }

  p {
    text-align: justify;
  }

  hr {
    margin: 2em 0;
    border: none;
    border-top: 1px solid #cccccc;
  }

  ul {
    margin-left: 2em;
    list-style-type: disc;

    li {
      &:not(:last-child) {
        margin-bottom: 0.75em;
      }
    }
  }

  &__youtube {
    margin: 64px 0;
    display: flex;
    place-content: center;

    iframe {
      @include m.size(100%, 220px);

      @media only screen and (min-width: v.$sm) {
        @include m.size(560px, 315px);
      }

      @media only screen and (min-width: v.$lg) {
        @include m.size(800px, 446px);
      }
    }

    &--lg {
      justify-content: flex-start;
      margin-bottom: 60px;

      @media only screen and (min-width: v.$xl) {
        margin-bottom: 80px;
      }

      iframe {
        @include m.size(100%, 320px);

        @media only screen and (min-width: v.$md) {
          height: 460px;
        }

        @media only screen and (min-width: v.$xl) {
          height: 640px;
        }
      }
    }
  }

  &__footer {
    position: relative;
    margin-top: 6em;

    &::before {
      @include m.pseudo($width: 40px, $height: 2px);
      top: -2em;
      left: 50%;
      transform: translateX(-50%);
      background: v.$color-blue-700;
    }

    p {
      text-align: center;
    }
  }

  .sticky-container .sticky-content {
    padding-left: 76px;

    @media only screen and (min-width: v.$lg) {
      padding-left: 106px;
    }
  }
}

.media-image {
  margin: 40px auto 68px auto;
  max-width: 650px;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.interview {
  p {
    margin: 35px 0 !important;

    &.lead {
      margin-top: 0 !important;
    }
  }
}
