@use '../02_base/variables' as v;
@use '../02_base/mixins' as m;

.aside {
  .publications-slider {
    padding: 0 5px;
    padding-top: 2em;
  }
}

.aside-heading {
  position: relative;
  margin-bottom: 32px;

  &::before {
    @include m.pseudo($width: 100%, $height: 6px);
    right: 0;
    bottom: 0;
    background: v.$color-red-700;
  }
}

.aside-title {
  display: inline-block;
  padding: 5px 12px;
  background: v.$color-red-700;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.aside-line {
  position: relative;
  padding-top: 12px;

  &::before {
    @include m.pseudo($width: 82px, $height: 2px);
    top: 0;
    left: 0;
    background: v.$color-red-700;
  }
}
