@use '../02_base/variables' as v;
@use '../02_base/mixins' as m;

.audio {
  margin: 0 auto;
  width: 270px;

  &__controls {
    display: flex;

    button {
      width: 50px;
      font-size: 32px;
      color: v.$color-red-700;
    }

    #waveformAnthem {
      height: 128px;
      width: 226px;
    }
  }

  &__timeline {
    margin-top: 8px;
    text-align: right;
    @include m.font(v.$font-notosansgeo, 0.875rem, 300, v.$color-gray-900);
  }

  &__title {
    margin-top: 14px;
    @include m.font(v.$font-notosansgeo, 1rem, 300, v.$color-gray-900);
  }
}
