@use '../02_base/variables' as v;

.audio {
  position: relative;
  width: 228px;

  &__file {
    position: absolute;
    top: 0;
    left: 0;

    svg {
      stroke: #d4d4d4;
    }

    rect {
      fill: white;
      mask: url(#mask);
    }
  }

  &__progression {
    width: 100%;
    height: 43px;

    background-color: v.$color-red-700;
  }
}
