@use "../02_base/variables" as v;
@use "../02_base/mixins" as m;

.audio-wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 64px;
}

.audio-player {
  display: inline-flex;
  flex-direction: column;

  &__controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }

  [data-audio-togglePlay] {
    color: v.$color-red-700;
    font-size: 2rem;
    width: 50px;

    &:focus {
      outline: none;
    }
  }

  &__time {
    text-align: right;
    @include m.font(v.$font-notosansgeo, 14px, 300, v.$color-black);
  }

  &__title {
    margin-top: 12px;
    @include m.font(v.$font-notosansgeo, 16px, 300, v.$color-black);
  }

  .svg-container {
    position: relative;
    width: 228px;
    height: 43px;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .svg-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 228px;
    height: 43px;
    pointer-events: none;

    svg {
      stroke: #d4d4d4;
    }
  }

  .svg-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 43px;
    overflow: hidden;
    pointer-events: none;

    svg {
      stroke: v.$color-red-700;
    }
  }
}
