@use "../02_base/variables" as v;
@use "../02_base/mixins" as m;

.year {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 100px;
  }

  &__title {
    position: sticky;
    top: 20px;
    font-size: 76px;
    font-weight: 700;
    color: #102b4e;
    @include m.font(v.$font-tatishvili, 76px, 700, v.$color-blue-700);
  }

  &__content {
    margin-left: 200px;
  }
}

.award {
  &:not(:last-child) {
    margin-bottom: 80px;
  }
  &:nth-child(even) {
    margin-left: 200px;
  }

  @media only screen and (min-width: v.$sm) {
    display: flex;
    gap: 2em;
  }

  &-image,
  &-video {
    position: relative;
  }

  img,
  video {
    object-fit: cover;
  }

  img {
    @include m.size(260px, 328px);
  }

  video {
    @include m.size(360px, 264px);
  }

  &-details {
    margin-top: 1em;
    max-width: 40ch;

    @media only screen and (min-width: v.$sm) {
      margin-top: 0;
    }
  }

  &-heading {
    @include m.font(v.$font-notosansgeo, 16px, 300, v.$color-blue-700);
  }

  &-date {
    margin-bottom: 42px;
    padding-left: 5em;
    height: 160px;
    position: relative;
    @include m.flex(column, flex-end, flex-start);

    @media only screen and (min-width: v.$sm) {
      padding-left: 3em;
      height: 140px;
    }

    &::before {
      @include m.pseudo($width: 140px, $height: 140px);
      left: 0;
      clip-path: polygon(50% 0, 100% 0%, 50% 100%, 0% 100%);
      background: v.$color-red-700;
      z-index: -1;
    }

    &-day {
      @include m.font(v.$font-tatishvili, 76px, 700, v.$color-blue-700);
      line-height: 1;
    }

    &-month {
      @include m.font(v.$font-tatishvili, 24px, 700, v.$color-blue-700);
    }
  }
}
