@use '../02_base/variables' as v;
@use '../02_base/mixins' as m;

.banner {
  position: relative;
  padding: 32px 0;
  width: 100%;
  height: 240px;
  display: flex;
  align-items: flex-end;
  background: url('../images/banner-occupied-territories.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  @media only screen and (min-width: v.$lg) {
    height: 320px;
  }

  @media only screen and (min-width: v.$xl) {
    height: 560px;
  }

  &-overlay {
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60%;
      background: linear-gradient(
        to top,
        #071021,
        hsla(219, 65%, 8%, 0.6),
        hsla(219, 65%, 8%, 0)
      );
    }
  }

  h1 {
    max-width: 30ch;
  }
}

.video-banner {
  position: relative;
  height: 300px;

  @media only screen and (min-width: v.$sm) {
    height: 400px;
  }
  @media only screen and (min-width: v.$md) {
    height: 516px;
  }
  @media only screen and (min-width: v.$lg) {
    height: 100vh;
    max-height: 710px;
  }
  @media only screen and (min-width: v.$xxl) {
    height: 100vh;
    max-height: 1000px;
  }

  &::before {
    @include m.pseudo($width: 100%, $height: 100%);
    bottom: 0;
    left: 0;
    background: linear-gradient(
      to top,
      hsl(219, 65%, 8%, 80%),
      hsl(219, 65%, 8%, 50%),
      hsl(219, 65%, 8%, 0%)
    );
    z-index: 1;
    pointer-events: none;
  }

  video {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;

    @media only screen and (min-width: v.$sm) {
      height: 400px;
    }
    @media only screen and (min-width: v.$md) {
      height: 516px;
    }
    @media only screen and (min-width: v.$lg) {
      height: 100vh;
      max-height: 710px;
    }
    @media only screen and (min-width: v.$xxl) {
      height: 100vh;
      max-height: 1000px;
    }
  }

  figcaption {
    position: absolute;
    width: 100%;
    bottom: 4em;
    z-index: 100;

    button {
      border: none;
      padding: 0;
    }

    svg {
      @include m.svg(19px, 20px, v.$color-white);
    }
  }

  h2 {
    max-width: 30ch;
  }

  &-controls {
    display: none;

    @media only screen and (min-width: v.$lg) {
      margin-top: 20px;
      @include m.flex(row, flex-start, center);
      gap: 1.5em;
    }
  }

  &-expand {
    position: absolute;
    bottom: 2em;
    right: 2em;
    cursor: pointer;
    z-index: 100;

    svg {
      @include m.svg(28px, 28px, v.$color-white);
    }
  }

  &-mute {
    position: absolute;
    top: 82px;
    right: 1.8em;
    cursor: pointer;
    z-index: 100;

    svg {
      @include m.svg(28px, 28px, v.$color-white);
    }
  }
}
