@use "../02_base/variables" as v;
@use "../02_base/mixins" as m;

button {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
}

.btn {
  padding: 12px 20px;
  text-decoration: none;

  span {
    display: inline-block;
  }

  &-red {
    background-color: v.$color-red-700;
    transition: background-color 0.15s ease-in-out;

    &:hover,
    &:focus {
      background-color: #d22f28;
    }
  }

  &-blue {
    background-color: v.$color-blue-500;

    transition: background-color 0.15s ease-in-out;

    &:hover,
    &:focus {
      background-color: v.$color-blue-700;
    }
  }

  &-outline {
    background: transparent;
    border: 1px solid #fff;

    &-dark {
      border-color: v.$color-blue-700;
    }
  }

  &-inline-flex {
    display: inline-flex !important;
  }

  &-with-icon {
    display: flex;
    align-items: center;
    gap: 1em;

    svg {
      @include m.svg(10px, 10px, v.$color-white);
    }
  }

  &-group-red {
    .btn:not(:last-child) {
      border-right: 2px solid #b42323;
    }
  }
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;

  @media only screen and (min-width: v.$sm) {
    flex-direction: row;
    justify-content: center;
    gap: 0;
  }
}

.btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  @include m.size(80px, 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: v.$color-white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: initial;
  transition: all 0.15s ease-in-out;
  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: v.$color-white;
    animation: pulse 1000ms infinite;
    z-index: 1;
  }

  svg {
    display: block;
    @include m.svg(17px, 18px, v.$color-red-700);
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

.image-to-fullscreen {
  position: absolute;
  bottom: 16px;
  right: 16px;

  &:hover,
  &:focus {
    outline: none;

    svg {
      fill: v.$color-red-700;
    }
  }

  svg {
    @include m.svg(14px, 14px, v.$color-white);
    transition: fill 0.1s ease-in-out;
  }
}

.scroll-to-top {
  position: absolute;
  top: 0;
  left: 0;
  @include m.flex(row, center, center);
  width: 40px;
  height: 390px;
  background: v.$color-red-700;
  transition: all 0.2s ease-in-out;

  @media only screen and (min-width: v.$xs) {
    height: 100%;
  }

  @media only screen and (min-width: v.$xl) {
    width: 88px;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
    background: v.$color-blue-900;
    svg {
      fill: v.$color-red-700;
    }
  }

  svg {
    @include m.svg(10.239px, 35.705px, v.$color-white);
    transition: all 0.2s ease-in-out;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.75;
  }

  100% {
    transform: scale(1.35);
    opacity: 0;
  }
}
