@use '../02_base/variables' as v;

button {
  border: none;
  background: none;
  cursor: pointer;
}

.btn {
  padding: 12px 20px;
  text-decoration: none;

  span {
    display: block;
  }

  &-red {
    background: v.$color-red-700;
  }

  &-outline {
    background: transparent;
    border: 1px solid #fff;
  }

  &-icon {
    display: flex;
    align-items: center;

    .icon {
      margin-left: 10px;
    }

    .icon svg {
      display: block;
      width: 20px;
      height: 20px;
      fill: #fff;
    }
  }
}
