@use '../02_base/variables' as v;
@use '../02_base/mixins' as m;

button {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
}

.btn {
  padding: 12px 20px;
  text-decoration: none;

  span {
    display: inline-block;
  }

  &-red {
    background: v.$color-red-700;
  }

  &-blue {
    background: v.$color-blue-500;
  }

  &-outline {
    background: transparent;
    border: 1px solid #fff;
  }

  &-inline-flex {
    display: inline-flex !important;
  }

  &-with-icon {
    display: flex;
    align-items: center;
    gap: 1em;

    svg {
      @include m.svg(10px, 10px, v.$color-white);
    }
  }

  &-group-red {
    .btn:not(:last-child) {
      border-right: 2px solid #b42323;
    }
  }
}
