@use "../02_base/variables" as v;
@use "../02_base/mixins" as m;

.event {
  &__container {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;

    @media only screen and (min-width: v.$md) {
      width: 50%;
    }

    img,
    video {
      @include m.image();
      aspect-ratio: 7 / 5;
    }
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  &__figure {
    position: relative;
  }

  &__title {
    padding: 10px 20px;
  }

  &__line {
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    height: 100%;
    background: v.$color-red-300;

    &__fill {
      position: absolute;
      left: calc(50% - 1px);
      top: 0;
      width: 2px;
      height: 100%;
      background: v.$color-red-700;
      transform-origin: top;
    }
  }

  &:nth-child(odd) {
    .event__container {
      padding-right: 52px;
    }
  }

  &:nth-child(even) {
    .event__card {
      flex-direction: row-reverse;
    }

    .event__container {
      padding-left: 52px;
    }
  }
}

@keyframes fill-in {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}
