@use "../02_base/variables" as v;
@use "../02_base/mixins" as m;

.card {
  &:hover,
  &:focus,
  &:focus-within {
    & > * {
      outline: none;
    }

    figure {
      &::after {
        background-color: hsla(0, 0%, 100%, 0.5);
      }
    }

    .timestamp::before {
      width: calc(100% + 5px);
    }
  }

  &--featured {
    .card__figure {
      aspect-ratio: 3 / 2;
    }
  }

  &__wrapper {
    text-decoration: none;
  }

  &__meta {
    position: relative;
    margin-bottom: 18px;
  }

  &__figure {
    width: 100%;
    overflow: hidden;
    aspect-ratio: 3 / 2;

    &::after {
      @include m.pseudo($width: 100%, $height: 100%);
      top: 0;
      left: 0;
      background-color: hsla(0, 0%, 100%, 0);
      transition: all 0.2s linear;
      pointer-events: none;
    }
  }

  &__image,
  &__video {
    @include m.image();
  }

  &__texts {
    padding: 0 20px;
  }

  &__body {
    margin-top: 4px;
  }
}

.card-fb {
  padding: 20px 25px 10px 25px;
  background: v.$color-gray-200;
  border-radius: 7px;

  figure {
    margin: 36px 0 16px 0;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height: 80%;

    @media only screen and (min-width: v.$xxl) {
      height: 415px;
    }

    img {
      @include m.image();
    }
  }

  time {
    display: block;
    margin-top: 36px;
  }
}

.address-card {
  position: relative;

  .timestamp {
    transform: translateY(-4px);
  }

  &:hover {
    figure {
      &::before {
        background-color: hsla(220, 66%, 8%, 0.3);
      }
    }

    .timestamp::before {
      width: calc(100% + 5px);
    }
  }

  &__wrapper {
    display: block;
    height: 100%;
  }

  &__figure {
    position: relative;
    margin: 0 auto;
    aspect-ratio: 4 / 5;
    transform: translateY(-4px);

    &::before {
      @include m.pseudo($width: 100%, $height: 100%);
      top: 0;
      left: 0;
      background: linear-gradient(to bottom, #071021, rgba(7, 16, 34, 0));
      transition: all 0.2s linear;
      pointer-events: none;
    }
  }

  &__image {
    @include m.image();
    object-position: center;
  }

  &__title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 32px;
  }
}

.publication {
  padding: 0 1em;

  &-cover {
    margin-bottom: 1em;

    img {
      @include m.image();
      @include m.size(100%, auto);
    }
  }

  h3 {
    font-family: v.$font-notosansgeo;
    font-size: 18px;
    font-weight: 700;
    color: v.$color-black;
  }

  p {
    font-family: v.$font-notosansgeo;
    font-size: 16px;
    font-weight: 300;
    color: v.$color-gray-900;
  }

  a {
    margin-top: 4px;
    font-family: v.$font-notosansgeo;
    font-size: 14px;
    font-weight: 300;
    color: v.$color-gray-900;
  }
}

.administration-official {
  margin-bottom: 48px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;

  @media only screen and (min-width: v.$sm) {
    flex-direction: row;
  }

  &-image {
    margin-bottom: 32px;
    width: 100%;
    height: 420px;
    overflow: hidden;

    @media only screen and (min-width: v.$sm) {
      margin-bottom: 0;
      margin-right: 30px;
      flex-basis: 120px;
      height: 150px;
    }

    img {
      @include m.image();
      object-position: center;
    }
  }

  > div {
    margin-right: auto;
    padding: 0 10px;

    @media only screen and (min-width: v.$sm) {
      padding-left: 0;
    }

    h2 {
      margin-bottom: 10px;

      @media only screen and (min-width: v.$sm) {
        margin-bottom: 20px;
      }

      a {
        display: block;
      }
    }

    p {
      @media only screen and (min-width: v.$sm) {
        max-width: 60ch;
      }
    }
  }

  > a {
    display: none;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid v.$color-blue-700;

    @media only screen and (min-width: v.$sm) {
      display: flex;
    }
  }

  .arrorw-right-small {
    display: block;
    width: 12px;
    height: 12px;
    fill: v.$color-blue-700;
  }
}

.former-president {
  &-image {
    @media only screen and (min-width: v.$sm) {
      margin-right: 24px;
      width: 280px;
      height: 160px;
      overflow: hidden;
    }

    @media only screen and (min-width: v.$lg) {
      margin-right: 32px;
      width: 326px;
      height: 217px;
    }

    img {
      @include m.image();
      object-position: center;
    }
  }

  &-years {
    font-family: v.$font-tatishvili;
    font-size: 36px;
    font-weight: 700;
    color: v.$color-black;
  }

  &-name {
    font-family: v.$font-tatishvili;
    font-size: 17px;
    font-weight: 700;
    color: v.$color-black;
  }
}
