@use '../02_base/variables' as v;
@use '../02_base/mixins' as m;

.dropdown {
  position: relative;
  &-content {
    position: absolute;
    top: 40px;
    left: 0;
    padding: 1em 1.25em;
    background: #f7f7fc;
    height: 0;
    max-height: 360px;
    visibility: hidden;
    // transition: all 150ms ease-in;
    z-index: 100;
    overflow: hidden;
    overflow-y: scroll;

    li {
      display: flex;
      align-items: center;
      gap: 1em;
      padding: 0.25em 0;
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 0.25em;
      }
    }
  }

  &-active {
    .dropdown-content {
      visibility: visible;
      height: auto;
    }
    .btn {
      background: #f7f7fc;
      span {
        color: v.$color-blue-700;
      }

      svg {
        fill: v.$color-blue-700;
      }
    }
  }

  > .btn {
    width: 100%;
    justify-content: space-between;
  }
}

.custom-select-container,
.custom-select-value,
.custom-select-options,
.custom-select-option {
  box-sizing: border-box;
}

.custom-select-container {
  position: relative;
  width: 100%;
  min-width: 160px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
  text-align: left;
  background: transparent;
  cursor: pointer;
  outline: none;

  &.expanded {
    box-shadow: 0 10px 20px rgba(114, 121, 255, 0.2);

    & > .custom-select-value {
      background: #f7f7fc;
      color: v.$color-blue-500;
    }
  }
}

.custom-select-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: v.$font-notosansgeo;
  font-size: 1rem;
  color: hsla(0, 0%, 100%, 0.8);
  background: v.$color-blue-500;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  user-select: none;

  // Arrow
  &::after {
    content: '';
    display: inline-block;
    border: 8px solid transparent;
    border-top-color: blue;
    margin-left: 12px;
    margin-top: 4px;
  }
}

.custom-select-options {
  display: none;
  position: absolute;
  margin: 0;
  padding: 4px 10px;
  width: 100%;
  max-height: 360px;
  overflow-y: scroll;
  background: #f7f7fc;
  border: none;
  z-index: 1;

  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #e0dfdf;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(206, 206, 206);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(167, 167, 167);
  }

  &.show {
    display: block;
  }
}

.custom-select-option {
  padding: 8px 10px;
  font-family: v.$font-notosansgeo;
  font-size: 1rem;
  font-weight: 500;
  color: v.$color-blue-500;
  cursor: pointer;
  transition: all 0.15s linear;
  border-radius: 8px;

  &:not(:last-child) {
    margin: 6px 0;
  }

  &:hover {
    color: #c81717;
  }

  &.selected {
    color: #c81717;
  }
}
