@use "../02_base/variables" as v;
@use "../02_base/mixins" as m;

.file {
  padding: 2em 28px;
  @include m.flex(column, space-between, flex-start);
  gap: 1em;

  @media only screen and (min-width: v.$sm) {
    flex-direction: row;
    align-items: center;
  }

  &-list {
    li {
      padding: 0 28px;
      border-bottom: 1px solid #e3e3e3;
    }
  }

  &-content {
    display: flex;
    flex-grow: 1;
    gap: 16px;
  }

  &-icon {
    flex-basis: 22px;
    align-self: flex-start;
    border-bottom: 4px solid v.$color-red-700;

    svg {
      display: block;
      margin: 0 auto;
      margin-bottom: 4px;
    }
  }

  &-title {
    margin-top: 5px;
    max-width: 70ch;
  }

  &-action {
    margin-left: 34px;
  }

  &-link {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  time {
    display: block;
    margin: 0.5em 0 1em;
  }

  &-action {
    .icon {
      @include m.size(32px, 32px);
      @include m.flex(row, center, center);
      border: 1px solid v.$color-blue-700;

      svg {
        @include m.svg(10px, 10px, v.$color-blue-700);
      }
    }
  }
}

.legal-act {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;

  background: blue;

  &-icon {
    width: 22px;
    margin-right: 16px;
    align-self: flex-start;
    border-bottom: 4px solid v.$color-red-700;
  }

  time {
    display: block;
    margin-bottom: 8px;
    margin-top: 16px;
  }

  p {
    max-width: 82ch;
  }

  &-link {
    margin-top: 4px;
    display: inline-block;
  }

  &-download {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8px;

    @media only screen and (min-width: v.$sm) {
      margin-top: 0;
    }

    svg {
      display: block;
    }
  }

  &-detailed {
    margin-bottom: 32px;

    &-meta {
      margin-bottom: 48px;

      .legal-act-icon {
        margin: 0;
        margin-left: 8px;
        padding-bottom: 5px;
      }

      > div {
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: v.$sm) {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }
      }
    }

    &-texts {
      max-width: 80ch;
      margin: 0 auto;

      h2 {
        margin: 8px 0 32px 0;
      }

      p {
        margin-top: 16px;
      }
    }
  }
}

.links-list {
  margin-bottom: 4em;
  li {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}

.useful-link {
  display: flex;
  align-items: flex-start;
  gap: 8px;

  .icon {
    display: inline-block;
    border-bottom: 4px solid v.$color-red-700;
  }

  svg {
    @include m.svg(16px, 16px, v.$color-black);
  }
}

.tour-item {
  &-padded {
    padding-left: 4em;
  }
  a {
    padding: 2em 0;
    @include m.flex(row, space-between, center);
    text-decoration: none;
  }
}

.search-result {
  padding: 3em 0;

  .file {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
    margin-left: -36px;
  }

  &-title {
    margin-bottom: 16px;
  }

  &-action {
    display: block;
    text-align: right;
  }
}
