@use '../02_base/variables' as v;
@use '../02_base/mixins' as m;

.site-footer {
  position: relative;
  padding: 48px 0 32px 0;
  background: v.$color-blue-700;
  background-image: url(../images/footer-lines.svg);
  background-repeat: no-repeat;
  background-position: 120% 100%;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  address li {
    &:not(:last-child) {
      margin-bottom: 0.2em;
    }
  }

  &__texts {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;

    @media only screen and (min-width: v.$xs) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (min-width: v.$sm) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (min-width: v.$md) {
      > .site-footer__navigation:nth-child(2) {
        grid-column: 2/3;
        grid-row: 2/3;
      }

      address {
        grid-column: 1/2;
        grid-row: 2/3;
      }

      .site-footer__cta {
        grid-row: 2 /3;
      }
    }

    @media only screen and (min-width: v.$lg) {
      grid-template-columns: repeat(5, 1fr);

      > .site-footer__navigation:nth-child(2) {
        grid-column: 3/4;
        grid-row: 1/2;
      }

      address {
        grid-column: 4/5;
        grid-row: 1/2;
      }

      .site-footer__cta {
        grid-column: 5/6;
        grid-row: 1/2;
      }
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__bottom {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media only screen and (min-width: v.$xs) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  &__cta {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;

    @media only screen and (min-width: v.$xs) {
      grid-column: 2/3;
    }

    @media only screen and (min-width: v.$sm) {
      grid-column: 3/4;
    }

    a {
      height: 42px;
      padding: 0 12px 0 22px;
      display: flex;
      align-items: center;
      gap: 10px;
      background: hsla(0, 79%, 44%, 0.4);
      transition: all 0.2s ease-in-out;

      &:hover,
      &:active {
        background: hsla(0, 79%, 44%, 0.8);
      }

      svg {
        display: block;
      }
    }
  }
}

.scroll-to-top {
  position: absolute;
  top: 0;
  left: 0;
  @include m.flex(row, center, center);
  width: 40px;
  height: 390px;
  background: v.$color-red-700;
  transition: all 0.2s ease-in-out;

  @media only screen and (min-width: v.$xs) {
    height: 100%;
  }

  &:hover,
  &:active {
    background: v.$color-blue-900;
    svg {
      fill: v.$color-red-700;
    }
  }

  svg {
    @include m.svg(10.239px, 35.705px, v.$color-white);
    transition: all 0.2s ease-in-out;
  }
}

.social-media {
  @include m.flex(row, flex-end, center);
  gap: 20px;

  &__facebook {
    svg {
      @include m.svg(16.534px, 16.479px, v.$color-blue-100);
    }
  }

  &__twitter {
    svg {
      @include m.svg(16.534px, 13.455px, v.$color-blue-100);
    }
  }

  &__instagram {
    svg {
      @include m.svg(16.535px, 16.534px, v.$color-blue-100);
    }
  }

  &__youtube {
    svg {
      @include m.svg(20.583px, 15.44px, v.$color-blue-100);
    }
  }

  svg {
    transition: all 0.2s ease-in-out;
  }

  a {
    &:hover,
    &:active {
      svg {
        fill: v.$color-red-700;
      }
    }
  }
}
