@use '../02_base/variables' as v;
@use '../02_base/mixins' as m;

.form {
  max-width: 740px;
  margin: 0 auto;

  @media only screen and (min-width: v.$sm) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;

    .span-2 {
      grid-column: span 2;
    }
  }

  &-control {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;

    &-error {
      input,
      textarea {
        border-color: v.$color-red-700 !important;
      }

      .form-msg {
        color: v.$color-red-700 !important;
        display: block;
      }
    }
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input[type='text'],
  input[type='tel'],
  input[type='email'] {
    height: 48px;
    padding: 0 16px;
  }

  textarea {
    height: 96px;
    padding: 16px;
  }

  input,
  textarea {
    border: 1px solid #cccccc;
  }

  button[type='submit'] {
    align-self: start;
  }

  &-msg {
    display: none;
    margin-top: 8px;
  }

  .file-upload-button {
    position: relative;
    @include m.size(100%, 50px);

    input[type='file'] {
      position: absolute;
      top: 0;
      left: 0;
      @include m.flex(row, center, center);
      @include m.size(100%, 50px);
      @include m.font(v.$font-notosansgeo, 1rem, 300, v.$color-gray-900);
      padding-left: 46px;
      padding-top: 11px;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      @include m.size(150px, 50px);
      @include m.flex(row, center, center);
      @include m.font(v.$font-notosansgeo, 1rem, 300, v.$color-white);
      background: v.$color-blue-700;
      cursor: pointer;
      z-index: 1;
    }
  }
}
