@use '../02_base/variables' as v;
@use '../02_base/mixins' as m;

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background: hsla(219, 65%, 8%, 0.4);
  z-index: 100000;

  &.active {
    background: hsla(219, 65%, 8%, 0.6);
  }

  @media only screen and (min-width: v.$sm) {
    height: 64px;
  }

  @media only screen and (min-width: v.$lg) {
    height: 78px;
    height: auto;
  }

  @media only screen and (min-width: v.$xl) {
    height: auto;
  }
}

.site-logo {
  position: relative;
  margin-right: auto;
  margin-left: 16px;
  margin-top: 4px;
  height: 74px;

  @media only screen and (min-width: v.$sm) {
    margin-top: 8px;
  }

  @media only screen and (min-width: v.$xl) {
    margin-left: 40px;
  }

  .bottom-border {
    position: absolute;
    bottom: 6px;
    left: -7px;
    width: 82px;
    height: 22px;
    background: hsla(219, 65%, 8%, 0.4);
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    z-index: -1;

    visibility: initial;

    &.hidden {
      visibility: hidden;
    }

    @media only screen and (min-width: v.$sm) {
      bottom: -2px;
      left: -12px;
      width: 102px;
      height: 20px;
    }

    @media only screen and (min-width: v.$lg) {
      bottom: -20px;
      left: -6px;
    }

    @media only screen and (min-width: v.$xl) {
      width: 130px;
      height: 30px;
      bottom: -30px;
      left: -17px;
    }

    @media only screen and (min-width: v.$xxl) {
      left: -10px;
    }
  }

  svg {
    width: 70px;
    height: 61.32px;

    @media only screen and (min-width: v.$sm) {
      width: 80px;
      height: 70px;
    }

    @media only screen and (min-width: v.$lg) {
      width: 90px;
      height: 78px;
    }

    @media only screen and (min-width: v.$xl) {
      width: 100px;
      height: 87.6px;
    }

    @media only screen and (min-width: v.$xxl) {
      width: 110px;
      height: 96.36px;
    }
  }
}

.icon-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50px;
  background: hsla(0, 0%, 100%, 0.8);

  svg {
    display: block;
  }

  @media only screen and (min-width: v.$sm) {
    width: 64px;
  }

  @media only screen and (min-width: v.$lg) {
    display: none;
  }
}

.icon-search {
  margin: 0 10px;
  height: 50px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: v.$sm) {
    height: 64px;
  }

  @media only screen and (min-width: v.$lg) {
    height: 82px;
  }

  @media only screen and (min-width: v.$xxs) {
    margin: 0 20px;
  }

  @media only screen and (min-width: v.$xs) {
    margin: 0 20px 0 40px;
  }

  svg {
    @include m.svg(24px, 22.001px, v.$color-white);
  }
}
