@use "../02_base/variables" as v;
@use "../02_base/mixins" as m;

:root {
  --header-height: 50px;

  @media only screen and (min-width: v.$sm) {
    --header-height: 64px;
  }

  @media only screen and (min-width: v.$lg) {
    --header-height: 78px;
  }

  @media only screen and (min-width: v.$xxl) {
    --header-height: 100px;
  }
}

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background: hsla(219, 65%, 8%, 0.6);
  transition: background-color 0.2s ease-in-out;
  z-index: 100000000;

  &.active {
    background-color: hsla(219, 65%, 8%, 1);

    .bottom-border {
      background-color: hsla(219, 65%, 8%, 1);
    }
  }

  &__search {
    position: absolute;
    top: 0;
    right: 58px;
    width: 48px;
    height: var(--header-height);
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 100;

    display: none;

    @media only screen and (min-width: v.$xs) {
      display: block;
    }

    @media only screen and (min-width: v.$lg) {
      right: 14px;
    }

    svg {
      @include m.svg(22px, 22px, v.$color-white);
      pointer-events: none;
    }
  }
}

.site-logo {
  position: absolute;
  left: 16px;
  z-index: 1000;

  @media only screen and (min-width: v.$sm) {
    left: 74px;
  }

  @media only screen and (min-width: v.$md) {
    left: 42px;
  }

  @media only screen and (min-width: v.$lg) {
    left: 74px;
  }

  .bottom-border {
    position: absolute;
    bottom: -4px;
    left: -6px;
    @include m.size(82px, 22px);
    background-color: hsla(219, 65%, 8%, 0.6);
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    transition: background-color 0.2s ease-in-out;

    @media only screen and (min-width: v.$sm) {
      bottom: -7px;
      left: -12px;
      @include m.size(102px, 20px);
    }

    @media only screen and (min-width: v.$lg) {
      bottom: -13px;
      left: -6px;
    }

    @media only screen and (min-width: v.$xl) {
      left: -17px;
      @include m.size(130px, 30px);
    }

    @media only screen and (min-width: v.$xxl) {
      bottom: -37px;
      left: -24px;
      @include m.size(160px, 40px);
    }
  }

  svg {
    position: relative;
    z-index: 100;
    transform: translateY(4px);
    @include m.size(70px, 61.32px);

    @media only screen and (min-width: v.$sm) {
      @include m.size(80px, 70px);
    }

    @media only screen and (min-width: v.$lg) {
      @include m.size(90px, 78px);
      transform: translateY(10px);
    }

    @media only screen and (min-width: v.$xl) {
      @include m.size(100px, 87.6px);
    }

    @media only screen and (min-width: v.$xxl) {
      @include m.size(110px, 96.36px);
      transform: translateY(18px);
    }
  }
}

.site-nav {
  position: relative;
  height: 100%;
  display: none;
  justify-content: flex-end;
  padding-right: 300px;
  background: transparent;
  z-index: 10;

  transition: all 0.2s ease-in-out;

  @media only screen and (min-width: v.$lg) {
    display: flex;
  }

  &__list {
    display: flex;
    gap: 32px;

    @media only screen and (min-width: v.$lg) {
      gap: 48px;
    }

    @media only screen and (min-width: v.$xl) {
      gap: 70px;
    }
  }

  &__btn {
    height: var(--header-height);
    background: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.1s ease-in-out;

    &:hover,
    &:focus {
      color: hsla(0, 0%, 100%, 0.8);
    }

    .icon {
      display: none;
    }
  }

  &__content {
    position: absolute;
    opacity: 0;
    transform-origin: top;
    pointer-events: none;
    transition: all 0.2s ease-in;

    &.active {
      opacity: 1;
      pointer-events: unset;
      transition-delay: 0.1s;
    }

    a {
      display: block;
      padding: 8px 0;

      &:hover,
      &:active,
      &:focus {
        color: hsla(0, 0%, 100%, 0.8);
      }
    }
  }
}

.site-languages {
  position: absolute;
  top: 0;
  right: 80px;
  height: var(--header-height);
  display: flex;
  gap: 24px;
  z-index: 100;

  @media only screen and (min-width: v.$xs) {
    right: 120px;
  }

  @media only screen and (min-width: v.$lg) {
    border-top: 6px solid v.$color-red-700;
    right: 100px;
  }

  li {
    height: 100%;
    transform: translateY(-4px);

    a {
      display: block;
      height: 100%;
      display: grid;
      place-content: center;
      text-decoration: none;
    }
  }
}

.main-search {
  padding: 0 20px;
  position: absolute;
  top: var(--header-height);
  left: 0;
  @include m.size(100%, 0);
  display: flex;
  align-items: center;

  background: hsla(219, 65%, 8%, 0.9);
  overflow: hidden;
  z-index: 1000;
  transition: height 0.2s ease-in-out;

  &.active {
    height: 280px;
  }

  &__form {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__control {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__input {
    padding: 0.5em;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid v.$color-gray-600;
    outline-style: none;

    &:focus {
      border-bottom-color: v.$color-white;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 50px v.$color-blue-900 inset;
      box-shadow: 0 0 0 50px v.$color-blue-900 inset;
      -webkit-text-fill-color: v.$color-white;
    }

    &:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0 50px v.$color-blue-900 inset;
      box-shadow: 0 0 0 50px v.$color-blue-900 inset;
      -webkit-text-fill-color: v.$color-white;
    }
  }

  &__btn {
    display: block;
    @include m.size(40px, 40px);
    border: 1px solid v.$color-gray-600;
    transform: translateY(-12px);
    transition: all 0.2s ease-in-out;

    &:hover,
    &:active {
      background: v.$color-red-700;
      border-color: v.$color-white;
    }

    svg {
      @include m.svg(24px, 22px, v.$color-white);
    }
  }

  small {
    display: block;
    margin-top: 0.25em;
    @include m.font(v.$font-notosansgeo, 14px, 300, v.$color-gray-500);
  }
}

.site-header__menu {
  position: absolute;
  top: 0;
  right: 0;
  @include m.flex(row, center, center);
  @include m.size(var(--header-height), var(--header-height));
  background: hsla(0, 0%, 100%, 0.8);

  svg {
    display: block;
  }

  @media only screen and (min-width: v.$sm) {
    width: 64px;
  }

  @media only screen and (min-width: v.$lg) {
    display: none;
  }
}
