@use '../02_base/variables' as v;
@use '../02_base/mixins' as m;

.image {
  display: flex;
  flex-direction: column;

  &-caption {
    &-bottom {
      margin: 0 auto;
      flex-direction: column;
      max-width: 600px;
    }

    &-left {
      @media only screen and (min-width: v.$xs) {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-end;
        figcaption {
          margin-top: 0;
          margin-right: 40px;

          &::before {
            right: 0 !important;
            left: auto !important;
          }
        }
      }
    }

    &-right {
      @media only screen and (min-width: v.$xs) {
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        figcaption {
          margin-left: 40px;
          margin-top: 0;
        }
      }
    }
  }

  img {
    max-width: 600px;
    width: 100%;
  }

  figcaption {
    position: relative;
    margin-top: 40px;

    &::before {
      content: '';
      position: absolute;
      top: -10px;
      left: 0;
      width: 70px;
      height: 1px;
      background: #666;
    }
  }
}

.gallery-item {
  width: 100%;

  figure {
    position: relative;
    height: 260px;
    overflow: hidden;
  }

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-title {
    margin-top: 0.75em;
    text-align: center;
  }

  .file-link {
    margin-top: 0.75em;
  }

  .imagebtn {
    position: absolute;
    bottom: 16px;
    right: 16px;

    svg {
      @include m.svg(28px, 28px, v.$color-white);
    }
  }

  .videobtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    svg {
      @include m.svg(110px, 110px, v.$color-white);
    }
  }
}
