@use '../02_base/variables' as v;
@use '../02_base/mixins' as m;

.link {
  &-red {
  }

  &-with-icon {
    display: flex;
    align-items: center;
    gap: 1em;

    svg {
      @include m.svg(10px, 10px, v.$color-red-700);
    }
  }
}
