@use '../02_base/variables' as v;

.map-of-georgia {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 600px;
    height: 300px;
  }
}

.region-btn {
  circle {
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    cursor: pointer;

    circle {
      fill: v.$color-blue-700;
    }
  }
}
