@use '../02_base/variables' as v;

.medal {
  display: flex;
  flex-direction: column;
  align-items: center;

  figure {
    margin-bottom: 23px;
    height: 212px;
    max-width: 216px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid hsla(0, 0%, 10%, 0.15);
  }
}
