@use "../02_base/variables" as v;
@use "../02_base/mixins" as m;

.anthem {
  margin-top: 60px;

  &__heading {
    margin-bottom: 26px;
    @include m.font(v.$font-notosansgeo, 1rem, 300, v.$color-gray-900);
  }

  &__text {
    margin-bottom: 26px;
    @include m.font(v.$font-notosansgeo, 1rem, 300, v.$color-gray-900);
  }
}

.virtual-tour {
  position: relative;

  // წითელი ხაზი
  &::after {
    @include m.pseudo($width: 200px, $height: 5px);
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: v.$color-red-700;
    z-index: 10;
  }

  &__heading {
    left: 50%;
    bottom: 24% !important;
    transform: translateX(-50%);
    text-align: center;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;

    h2 {
      max-width: unset !important;
      @include m.font(v.$font-tatishvili, 46px, 700, v.$color-white);
      text-align: center;
    }

    &.fade-out {
      opacity: 0;
    }
  }

  [data-virtual-play] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid v.$color-white;
    border-radius: 100px;
    z-index: 1000;
  }

  .PlayPause {
    // transition: all 0.5s ease-in-out;

    &::before,
    &::after {
      background: v.$color-white;
    }

    &.is-playing {
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
    }
  }

  &__btn {
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 200;
  }
}

.president-oath {
  margin-top: 50vh;

  blockquote {
    margin-top: 50px;
  }
}
