@use "../02_base/variables" as v;
@use "../02_base/mixins" as m;

.anthem {
  margin-top: 60px;

  &__heading {
    margin-bottom: 26px;
    @include m.font(v.$font-notosansgeo, 1rem, 300, v.$color-gray-900);
  }

  &__text {
    margin-bottom: 26px;
    @include m.font(v.$font-notosansgeo, 1rem, 300, v.$color-gray-900);
  }
}

.virtual-tour {
  position: relative;

  // წითელი ხაზი
  &::after {
    @include m.pseudo($width: 200px, $height: 5px);
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: v.$color-red-700;
    z-index: 10;
  }

  &__heading {
    left: 50%;
    bottom: 24% !important;
    transform: translateX(-50%);
    text-align: center;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
    pointer-events: initial;

    h2 {
      max-width: unset !important;
      @include m.font(v.$font-tatishvili, 46px, 700, v.$color-white);
      text-align: center;
    }

    &.fade-out {
      opacity: 0;
      pointer-events: none;
    }
  }

  [data-virtual-play] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid v.$color-white;
    border-radius: 100px;
    opacity: 1;
    transition: opacity 0.2s linear;
    z-index: 1000;

    &.hide {
      opacity: 0;
    }
  }

  .PlayPause {
    &::before,
    &::after {
      background: v.$color-white;
    }
  }

  &__btn {
    margin-top: 60px;
  }

  &__desc {
    max-width: 840px;
    margin: 64px auto;
    padding: 0 12px;

    p:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__container {
    .tour-list {
      padding-bottom: 100px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: #071021;
      }
    }

    .tour-item {
      position: relative;
      display: flex;
      background: v.$color-blue-900;
      transition: background-color 0.2s ease-in-out;

      &.active {
        background: v.$color-white;

        h2 {
          color: v.$color-gray-900;
          transform: translateY(0px);
        }

        .tour-item__decor {
          color: hsla(219, 34%, 15%, 0);
        }

        &:hover {
          .icon-arrow-box {
            border-color: v.$color-blue-700;

            svg {
              fill: v.$color-blue-700;
            }
          }
        }
      }

      &:hover {
        .tour-item__count {
          @media only screen and (min-width: v.$lg) {
            width: 100px;
          }
          @media only screen and (min-width: v.$xl) {
            width: 162px;
          }
        }

        .icon-arrow-box {
          border-color: v.$color-white;

          svg {
            fill: v.$color-white;
          }
        }
      }

      button {
        margin: 0 auto;
        padding: 12px;
        position: relative;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        @media only screen and (min-width: v.$lg) {
          width: 80%;
          height: 100px;
        }

        @media only screen and (min-width: v.$xl) {
          padding: 20px 0;
          height: 136px;
          width: 1086px;
        }
      }

      a {
        padding: 2em 0;
        @include m.flex(row, space-between, center);
        text-decoration: none;
      }

      h2 {
        position: relative;
        z-index: 2;
        transform: translateY(10px);
        @include m.font(v.$font-tatishvili, 18px, 700, v.$color-white);
        text-align: left;
        transition: all 0.2s ease-in-out;

        @media only screen and (min-width: v.$lg) {
          font-size: 36px;
        }

        @media only screen and (min-width: v.$xl) {
          font-size: 2.25rem;
        }
      }

      &__count {
        position: absolute;
        top: 0;
        left: 0;
        width: 0px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include m.font(v.$font-tatishvili, 44px, 700, hsla(219, 34%, 15%));
        line-height: 1;
        background-color: v.$color-white;
        overflow: hidden;
        transition: width 0.2s linear;

        @media only screen and (min-width: v.$xl) {
          font-size: 110px;
        }
      }

      &__decor {
        position: absolute;
        left: 8px;
        bottom: 7px;
        z-index: 1;
        @include m.font(
          v.$font-tatishvili,
          34px,
          700,
          hsla(219, 34%, 15%, 0.6)
        );
        transition: color 0.2s ease-in-out;

        @media only screen and (min-width: v.$lg) {
          font-size: 64px;
        }

        @media only screen and (min-width: v.$xl) {
          bottom: -12px;
          font-size: 110px;
        }
      }

      .icon-arrow-box {
        svg {
          transition: all 0.2s ease-in-out;
        }
      }
    }

    .tour-content {
      margin: 0 auto;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-in-out;

      @media only screen and (min-width: v.$lg) {
        max-width: calc(80% - 24px);
      }

      @media only screen and (min-width: v.$xl) {
        max-width: 1042px;
      }

      &__wrapper {
        padding-bottom: 60px;

        @media only screen and (min-width: v.$lg) {
          padding-bottom: 160px;
        }
      }

      p {
        @include m.font(v.$font-notosansgeo, 1rem, 300, v.$color-gray-900);
        line-height: 1.6;
        padding: 0 24px;

        @media only screen and (min-width: v.$lg) {
          padding: 0 12px;
        }
      }

      figure {
        margin: 105px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.president-oath {
  margin-top: 100px;
  blockquote {
    margin-top: 50px;
  }
}
