@use '../02_base/variables' as v;
@use '../02_base/mixins' as m;

.mobile-nav-wrapper {
  display: none;
  @media only screen and (max-width: v.$lg) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 6em 2em;
    @include m.flex(row, stretch, flex-start);
    display: none;
    background: hsla(219, 65%, 8%, 0.92);
    background-image: url(../images/footer-lines.svg);
    background-repeat: no-repeat;
    background-position: 120% 100%;
    z-index: 10000;

    &.active {
      display: flex;
    }

    .mobile-nav {
      display: block;
      width: 100%;

      &-list {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
      }

      &-item {
        width: 100%;
        @include m.flex(row, flex-start, center);
        gap: 0.75em;
      }

      &-dropdown {
        &-content {
          max-height: 0;
          overflow: hidden;
          padding-left: 2em;
          transition: all 0.2s ease-in;

          a {
            display: block;
            padding: 0.25em 0;
            transition: all 0.2s ease-in-out;

            &:hover,
            &:active {
              opacity: 0.6;
            }
          }
        }
      }

      .icon {
        display: block;
        svg {
          @include m.svg(12px, 12px, v.$color-white);
        }
      }
    }

    .social-media {
      position: absolute;
      bottom: 3em;
      right: 3em;
      display: flex;
      gap: 1.25em;

      svg {
        fill: #acb9bb;
      }
    }
  }

  .icon {
    display: none;
  }
}
