@use '../02_base/variables' as v;
@use '../02_base/mixins' as m;

.nav-backdrop {
  position: absolute;
  top: 82px;
  left: 0;
  width: 100%;
  height: 0;
  background: hsla(219, 65%, 8%, 0.6);
  transition: all 0.1s ease-in;
}

.site-nav {
  display: none;

  @media only screen and (min-width: v.$lg) {
    display: block;
    margin-right: 40px;
  }

  &-list {
    height: 100%;
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @media only screen and (min-width: v.$xl) {
      gap: 70px;
    }
  }

  &.active {
    display: block;
  }

  :is(a, button) {
    display: block;
  }

  li {
    white-space: nowrap;
  }

  button {
    padding: 0;
    transition: all 0.2s ease-in-out;
    outline: transparent;

    @media only screen and (min-width: v.$lg) {
      height: 78px;
    }

    &:focus,
    &:hover,
    &:active {
      opacity: 0.8;
    }
  }

  &-dropdown {
    position: relative;

    &-content {
      position: absolute;
      top: 82px;
      @include m.flex(column, stretch, flex-start !important);
      gap: 0.75em;

      opacity: 0;
      pointer-events: none;

      &.active {
        pointer-events: unset;
      }
    }
  }
}

.site-languages {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 12px;

  @media only screen and (min-width: v.$xxs) {
    gap: 20px;
  }

  @media only screen and (min-width: v.$xs) {
    gap: 26px;
  }

  @media only screen and (min-width: v.$lg) {
    border-top: 6px solid v.$color-red-700;
  }

  a {
    @include m.flex(row, center, center);
    height: 50px;

    @media only screen and (min-width: v.$sm) {
      height: 64px;
    }
  }
}

.mobile-nav-wrapper {
  display: none;
  @media only screen and (max-width: v.$lg) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 6em 2em;
    @include m.flex(row, stretch, flex-start);
    display: none;
    background: hsla(219, 65%, 8%, 0.92);
    background-image: url(../images/footer-lines.svg);
    background-repeat: no-repeat;
    background-position: 120% 100%;
    z-index: 10000;

    &.active {
      display: flex;
    }

    .mobile-nav {
      display: block;
      width: 100%;

      &-list {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
      }

      &-item {
        width: 100%;
        @include m.flex(row, flex-start, center);
        gap: 0.75em;
      }

      &-dropdown {
        &-content {
          max-height: 0;
          overflow: hidden;
          padding-left: 2em;
          transition: all 0.2s ease-in;

          a {
            display: block;
            padding: 0.25em 0;
            transition: all 0.2s ease-in-out;

            &:hover,
            &:active {
              opacity: 0.6;
            }
          }
        }
      }

      .icon {
        display: block;
        svg {
          @include m.svg(12px, 12px, v.$color-white);
        }
      }
    }

    .social-media {
      position: absolute;
      bottom: 3em;
      right: 3em;
      display: flex;
      gap: 1.25em;

      svg {
        fill: #acb9bb;
      }
    }
  }

  .icon {
    display: none;
  }
}
