@use '../02_base/variables' as v;

.site-nav {
  display: none;
  margin-right: 40px;

  button {
    padding: 0;
  }

  @media only screen and (min-width: v.$xl) {
    display: block;

    ul {
      height: 100%;
      display: flex;
      align-items: center;
      gap: 30px;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }

  &-dropdown {
    position: relative;
    &-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start !important;
    }
  }
}

.site-languages {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 12px;

  @media only screen and (min-width: v.$xxs) {
    gap: 20px;
  }

  @media only screen and (min-width: v.$xs) {
    gap: 26px;
  }

  @media only screen and (min-width: v.$lg) {
    border-top: 6px solid v.$color-red-700;
  }
}
