@use '../02_base/variables' as v;
@use '../02_base/mixins' as m;

.page-actions {
  width: 100%;
  @include m.flex(row, space-between, center);

  &-left {
    justify-self: flex-start;
  }
  &-right {
    margin-left: auto;
  }

  button.btn-blue,
  a.btn-blue {
    &:not(:last-child) {
      border-right: 1px solid v.$color-blue-700;
    }

    &.active {
      background: v.$color-blue-700;
    }
  }

  button.btn-red,
  a.btn-red {
    &:not(:last-child) {
      border-right: 1px solid v.$color-red-500;
    }

    &.active {
      background: #d22f28;
    }
  }
}
