@use '../02_base/variables' as v;
@use '../02_base/mixins' as m;

.pagination {
  ul {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  li {
    width: 40px;
    height: 40px;

    a {
      @include m.flex($justify: center, $align: center);
      width: 100%;
      height: 100%;
      background: v.$color-blue-700;
      @include m.font(v.$font-notosansgeo, 20px, 700, v.$color-white);
      text-decoration: none;

      &.active {
        background: v.$color-red-700;
      }
    }

    svg {
      @include m.svg(8px, 8px, v.$color-white);
    }
  }
}
