@use '../02_base/variables' as v;
@use '../02_base/mixins' as m;

.pagination {
  ul {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  li {
    @include m.size(40px, 40px);

    a {
      @include m.flex(row, center, center);
      @include m.size(100%, 100%);
      @include m.font(v.$font-notosansgeo, 20px, 700, v.$color-white);
      text-decoration: none;
      background-color: v.$color-blue-700;
      transition: background-color 0.15s ease-in-out;

      &:hover,
      &:focus {
        background-color: v.$color-blue-500;
      }

      &.active {
        background-color: v.$color-red-700;
        transition: background-color 0.15s ease-in-out;

        &:hover,
        &:focus {
          background-color: #d22f28;
        }
      }
    }

    svg {
      @include m.svg(8px, 8px, v.$color-white);
    }
  }
}
