@use '../02_base/variables' as v;
@use '../02_base/mixins' as m;

.grid-priorities {
  margin: auto 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 40px;

  &--row-gap {
    row-gap: 80px;

    @media only screen and (min-width: v.$xl) {
      row-gap: 140px;
    }
  }

  @media only screen and (min-width: v.$xl) {
    padding: 0 100px;
    row-gap: 140px;
  }

  > div {
    &:first-child {
      grid-column: 1/3;
    }

    &:nth-child(2) {
      grid-column: 3/5;
    }

    &:nth-child(3) {
      grid-column: 5/7;
    }

    &:nth-child(4) {
      grid-column: 2/4;
      grid-row: 2/3;
    }

    &:nth-child(5) {
      grid-column: 4/6;
      grid-row: 2/3;
    }
  }
}

.priority {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h3 {
    white-space: nowrap;
  }
}

.priorities {
  padding: 64px 0;
  display: flex;
  flex-direction: column;

  h2 {
    margin-left: -12px;

    @media only screen and (min-width: v.$sm) {
      margin-left: 34px;
    }

    @media only screen and (min-width: v.$md) {
      margin-left: 38px;
    }

    @media only screen and (min-width: v.$xl) {
      margin-left: 60px;
    }

    @media only screen and (min-width: v.$xxl) {
      margin-left: 122px;
    }
  }

  img {
    margin: 18px 0 24px 0;
    max-height: 70px;
    width: auto;
  }
}

.priorities-section {
  margin-bottom: 64px;
  &__title {
    @include m.font(v.$font-tatishvili, 36px, 700, v.$color-gray-900);
  }

  &__desc {
    margin: 32px 0 64px 0 !important;
    max-width: 100ch;
  }
}
