@use '../02_base/variables' as v;
@use '../02_base/mixins' as m;

.slick-dotted {
  .slick-dots {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    list-style: none;
  }

  button[role='tab'] {
    display: block;
    width: 10px;
    height: 12px;
    border-radius: 20px;
    color: transparent;
    cursor: pointer;
  }

  .slick-active {
    button[role='tab'] {
      width: 18px;
      height: 18px;
      background: transparent;
    }
  }
}

.hero-slider {
  .slick-dots {
    position: absolute;
    top: 50%;
    right: 45px;
    flex-direction: column;
    z-index: 100;

    button {
      background: v.$color-white;
    }
    .slick-active {
      button {
        background: transparent;
        border: 1px solid v.$color-white;
      }
    }
  }

  .slick-arrow {
    padding: 0;
    position: absolute;
    bottom: 1.5em;
    z-index: 1000;

    svg {
      @include m.svg(45px, 12.905px, v.$color-white);
    }
  }

  .slick-prev {
    left: 32px;
  }

  .slick-next {
    right: 32px;
  }
}

.fb-cards-slider {
  .slick-dots {
    margin: 0;
    margin-top: 34px;
  }

  button {
    background: v.$color-blue-700;
  }

  .slick-active {
    button {
      border: 1px solid v.$color-blue-700;
    }
  }
}

.address-slider {
  @media only screen and (min-width: v.$lg) {
    width: calc(100% - 20px);
  }

  .slick-slide {
    margin: 0 20px;
  }

  .slick-list {
    margin: 0 -20px;

    @media only screen and (min-width: v.$lg) {
      padding: 0 160px 0 0 !important;
    }
  }

  .slick-arrow {
    position: absolute;
    bottom: -30px;

    svg {
      display: block;
      fill: v.$color-gray-900;
    }
  }

  .slick-prev {
    right: 60px;
  }

  .slick-next {
    right: -10px;
  }
}

.foreign-press-slider {
  position: relative;

  .slick-dots {
    position: absolute;
    right: -50px;
    top: 40%;
    flex-direction: column;
  }

  button {
    background: #e9a2a2;
  }

  .slick-active {
    button {
      border: 1px solid #e9a2a2;
    }
  }
}
