@use '../02_base/variables' as v;

.fb-cards-slider {
  .slick-dots {
    margin: 0;
    margin-top: 34px;
    margin-bottom: 60px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    list-style: none;
  }

  button {
    display: block;
    width: 10px;
    height: 12px;
    border-radius: 20px;
    color: transparent;
    background: v.$color-blue-700;
    cursor: pointer;
  }

  .slick-active {
    button {
      width: 18px;
      height: 18px;
      background: transparent;
      border: 1px solid v.$color-blue-700;
    }
  }
}
