@use "../02_base/variables" as v;

.timestamp {
  position: absolute;
  bottom: -4px;
  left: 15px;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    width: 20px;
    height: 5px;
    background: v.$color-red-700;
    transition: all 0.2s linear;
  }
}

.datetime-stamp {
  display: inline-block;
  padding: 4px 8px;
  background: v.$color-red-700;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
