@use '../02_base/variables' as v;

.timestamp {
  position: absolute;
  bottom: -5px;
  left: 15px;
  padding: 4px 8px;
  background: v.$color-red-700;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -20px;
    width: 20px;
    height: 5px;
    background: v.$color-red-700;
  }
}
