/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: "GL Tatishvili Metal";
  src: url("../fonts/GLTatishviliMetal-Bold.woff2") format("woff2"), url("../fonts/GLTatishviliMetal-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans Compressed";
  src: url("../fonts/FiraSansCompressed-Medium.woff2") format("woff2"), url("../fonts/FiraSansCompressed-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BPG Nino Mtavruli";
  src: url("../fonts/BPGNinoMtavruli-Bold.woff2") format("woff2"), url("../fonts/BPGNinoMtavruli-Bold.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans Georgian AG";
  src: url("../fonts/NotoSansGeorgianAG-Bold.woff2") format("woff2"), url("../fonts/NotoSansGeorgianAG-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans Georgian AG";
  src: url("../fonts/NotoSansGeorgianAG-Medium.woff2") format("woff2"), url("../fonts/NotoSansGeorgianAG-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans Georgian AG";
  src: url("../fonts/NotoSansGeorgianAG-Light.woff2") format("woff2"), url("../fonts/NotoSansGeorgianAG-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Bold.woff2") format("woff2"), url("../fonts/NotoSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Bold.woff2") format("woff2"), url("../fonts/FiraSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Medium.woff2") format("woff2"), url("../fonts/FiraSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Light.woff2") format("woff2"), url("../fonts/FiraSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p:not(:last-child) {
  margin-bottom: 16px;
}

.official {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media only screen and (min-width: 992px) {
  .official {
    flex-direction: row;
  }
}
.official-president {
  flex-grow: 1;
}
.official-exp li:not(:last-child) {
  margin-bottom: 24px;
}
.official-exp li p {
  margin-top: 0.25em;
}
@media only screen and (min-width: 1200px) {
  .official-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
.official figure {
  margin: 16px auto 24px auto;
  max-width: 340px;
  overflow: hidden;
}
@media only screen and (min-width: 992px) {
  .official figure {
    width: 214px;
  }
}
@media only screen and (min-width: 1200px) {
  .official figure {
    max-width: initial;
    width: 360px;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 0;
  }
}
.official figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 1200px) {
  .official-president-image {
    width: 420px !important;
  }
}
@media only screen and (min-width: 1400px) {
  .official-president-image {
    width: 60px !important;
  }
}

:is(p, li, blockquote, cite, figcaption, pre) {
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #1a1a1a;
}
@media only screen and (min-width: 1200px) {
  :is(p, li, blockquote, cite, figcaption, pre) {
    font-size: 1rem;
  }
}

h2 {
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  color: #1a1a1a;
}

h3 {
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #1a1a1a;
}

label {
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #1a1a1a;
}

input[type=text],
input[type=tel],
input[type=email],
textarea {
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #1a1a1a;
}

time {
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #1a1a1a;
}
@media only screen and (min-width: 1200px) {
  time {
    font-size: 16px;
  }
}

.form-msg {
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #1a1a1a;
}

.btn-red, .btn-blue, .btn-outline {
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}
.btn-red span, .btn-blue span, .btn-outline span {
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

.site-nav :is(a, button) {
  font-family: "GL Tatishvili Metal", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.site-languages a {
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  opacity: 0.6;
}
@media only screen and (min-width: 380px) {
  .site-languages a {
    font-size: 18px;
  }
}
.site-languages a.active {
  opacity: 1;
}

.page-title {
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  color: #1a1a1a;
}
@media only screen and (min-width: 1200px) {
  .page-title {
    font-size: 1.625rem;
  }
}

.file-title {
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #1a1a1a;
}
.file-title a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.file-link {
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #666666;
}

.useful-link a {
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #1a1a1a;
  text-decoration: none;
}

.title-underlined {
  display: inline-block;
  margin: 32px 0 16px 0;
  border-bottom: 4px solid #c81717;
  font-family: "GL Tatishvili Metal", sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  color: #000;
  line-height: 1;
}

.image figcaption {
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #1a1a1a;
}

.gallery-item-title {
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #1a1a1a;
}

.symbols-container figcaption {
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #1a1a1a;
}
@media only screen and (min-width: 768px) {
  .symbols-container figcaption {
    font-size: 1.25rem;
  }
}

.hero-item h2 {
  font-family: "GL Tatishvili Metal", sans-serif;
  font-size: 1.625rem;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .hero-item h2 {
    font-size: 1.875rem;
  }
}
@media only screen and (min-width: 992px) {
  .hero-item h2 {
    font-size: 2.25rem;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-item h2 {
    font-size: 2.375rem;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-item h2 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1920px) {
  .hero-item h2 {
    font-size: 3.125rem;
  }
}

.footer-navigation a {
  font-family: "GL Tatishvili Metal", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #acb9bb;
  text-decoration: none;
}

.site-footer address {
  font-style: normal;
}
.site-footer address h3 {
  font-family: "GL Tatishvili Metal", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #acb9bb;
  text-transform: uppercase;
}
.site-footer address :is(li, a) {
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #acb9bb;
  text-decoration: none;
}
.site-footer-copy {
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #dddddd;
}

.site-footer-cta a {
  font-family: "GL Tatishvili Metal", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.banner h1 {
  font-family: "GL Tatishvili Metal", sans-serif;
  font-size: 1.625rem;
  font-weight: 700;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .banner h1 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 1920px) {
  .banner h1 {
    font-size: 3.125rem;
  }
}

.page-title {
  font-size: 1.625rem;
}

.section-title {
  font-family: "GL Tatishvili Metal", sans-serif;
  font-size: 1.625rem;
  font-weight: 700;
  color: #071021;
  line-height: 1;
}
.section-link {
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #071021;
}

.card-title {
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #071021;
  line-height: 1.3;
}

.card-fb time {
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  color: #071021;
}

.fb-handle a {
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 0.5rem;
  font-weight: 500;
  color: #071021;
  text-decoration: none;
}

.address-title {
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

.datetime-stamp {
  font-family: "GL Tatishvili Metal", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
}

.orbeliani-palace h2 {
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.orbeliani-palace a {
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #fff;
}

.priorities h2 {
  color: #c81717;
}

.priority h3 {
  font-family: "GL Tatishvili Metal", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #102b4e;
}
@media only screen and (min-width: 768px) {
  .priority h3 {
    font-size: 1.125rem;
  }
}
.priority a {
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 0.625rem;
  font-weight: 300;
  color: #102b4e;
}
@media only screen and (min-width: 768px) {
  .priority a {
    font-size: 0.75rem;
  }
}

.aside-title {
  font-family: "GL Tatishvili Metal", sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  color: #fff;
}

.administration-official h2 {
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
.administration-official h2 a {
  color: inherit;
  text-decoration: none;
}

.medal h2 {
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #1a1a1a;
  text-align: center;
}

.sr-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mt-sm {
  margin-top: 16px !important;
}

.mb-md {
  margin-bottom: 32px !important;
}

.mb-lg {
  margin-bottom: 64px !important;
}

.align-right {
  margin-right: 0;
  margin-left: auto;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.text-wrap {
  max-width: 70ch;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.lead {
  font-size: 18px;
  font-weight: 700;
}

.text-accented {
  color: #c81717;
}

.hide-on-lg {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .hide-on-lg {
    display: block;
  }
}

.flex {
  display: flex;
}

.aside-heading {
  position: relative;
  margin-bottom: 32px;
}
.aside-heading::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 6px;
  width: 100%;
  background: #c81717;
}

.aside-title {
  display: inline-block;
  padding: 5px 12px;
  background: #c81717;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.banner {
  position: relative;
  padding: 32px 0;
  width: 100%;
  height: 320px;
  display: flex;
  align-items: flex-end;
  background: url("../images/banner-occupied-territories.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
@media only screen and (min-width: 1200px) {
  .banner {
    height: 420px;
  }
}
@media only screen and (min-width: 1440px) {
  .banner {
    height: 560px;
  }
}
.banner-overlay::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(to top, #071021, rgba(7, 16, 34, 0.6), rgba(7, 16, 34, 0));
}
.banner h1 {
  max-width: 30ch;
}

button {
  display: block;
  border: none;
  background: none;
  cursor: pointer;
}

.btn {
  padding: 12px 20px;
  text-decoration: none;
}
.btn span {
  display: inline-block;
}
.btn-red {
  background: #c81717;
}
.btn-blue {
  background: #1a4680;
}
.btn-outline {
  background: transparent;
  border: 1px solid #fff;
}
.btn-inline-flex {
  display: inline-flex !important;
}
.btn-with-icon {
  display: flex;
  align-items: center;
  gap: 1em;
}
.btn-with-icon svg {
  display: block;
  width: 10px;
  height: 10px;
  fill: #fff;
}

.card:hover .timestamp::before {
  width: calc(100% + 5px);
}
.card-wrapper-link {
  text-decoration: none;
}
.card-meta {
  position: relative;
  margin-bottom: 28px;
}
.card-image {
  height: 330px !important;
  width: 100%;
  overflow: hidden;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card figure {
  height: 250px;
}
.card img,
.card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .videobtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card .videobtn svg {
  display: block;
  width: 110px;
  height: 110px;
  fill: #fff;
}
.card-texts {
  padding: 0 20px;
}
.card p {
  margin-top: 16px;
}

.card-fb {
  margin: 0 20px;
  padding: 20px 25px 10px 25px;
  background: #ececec;
  border-radius: 7px;
}
.card-fb figure {
  margin: 36px 0 16px 0;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 80%;
}
.card-fb figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-fb time {
  display: block;
  margin-top: 36px;
}

.card-address {
  height: 420px;
  position: relative;
}
.card-address figure {
  position: relative;
  width: 100%;
  height: 420px;
}
.card-address figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #071021, rgba(7, 16, 34, 0));
}
.card-address figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.card-address .address-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.publication-cover {
  margin-bottom: 16px;
  width: 100%;
  max-width: 364px;
  height: 590px;
}
.publication-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.publication h3 {
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
.publication p {
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #1a1a1a;
}
.publication a {
  margin-top: 4px;
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #1a1a1a;
}

.priority {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.priority h3 {
  white-space: nowrap;
}

.administration-official {
  margin-bottom: 48px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
}
@media only screen and (min-width: 768px) {
  .administration-official {
    flex-direction: row;
  }
}
.administration-official-image {
  margin-bottom: 32px;
  width: 100%;
  height: 420px;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .administration-official-image {
    margin-bottom: 0;
    margin-right: 30px;
    flex-basis: 120px;
    height: 150px;
  }
}
.administration-official-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.administration-official > div {
  margin-right: auto;
  padding: 0 10px;
}
@media only screen and (min-width: 768px) {
  .administration-official > div {
    padding-left: 0;
  }
}
.administration-official > div h2 {
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .administration-official > div h2 {
    margin-bottom: 20px;
  }
}
.administration-official > div h2 a {
  display: block;
}
@media only screen and (min-width: 768px) {
  .administration-official > div p {
    max-width: 60ch;
  }
}
.administration-official > a {
  display: none;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid #102b4e;
}
@media only screen and (min-width: 768px) {
  .administration-official > a {
    display: flex;
  }
}
.administration-official .arrorw-right-small {
  display: block;
  width: 12px;
  height: 12px;
  fill: #102b4e;
}

@media only screen and (min-width: 768px) {
  .former-president-image {
    margin-right: 24px;
    width: 280px;
    height: 160px;
    overflow: hidden;
  }
}
@media only screen and (min-width: 1200px) {
  .former-president-image {
    margin-right: 32px;
    width: 326px;
    height: 217px;
  }
}
.former-president-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.former-president-years {
  font-family: "GL Tatishvili Metal", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #000;
}
.former-president-name {
  font-family: "GL Tatishvili Metal", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #000;
}

.article-cta-horizontal ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.article-cta-horizontal li:not(:last-child) {
  border-right: 1px solid #dfdfdf;
}
.article-cta-horizontal a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ececec;
}
.article-cta-horizontal svg {
  display: block;
}
.article-cta-horizontal svg.icon-fb-2 {
  fill: #c81717;
}
.article-cta-horizontal svg.icon-twitter {
  fill: #c81717;
}
.article-cta-horizontal svg.icon-print {
  fill: #102b4e;
}

.article-cta-vertical {
  width: 40px;
  margin-right: 1em;
}
@media only screen and (min-width: 768px) {
  .article-cta-vertical {
    margin-right: 2em;
  }
}
@media only screen and (min-width: 1200px) {
  .article-cta-vertical {
    margin-right: 4em;
  }
}
.article-cta-vertical ul {
  margin: 0;
  padding: 0;
  width: 40px;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.article-cta-vertical li {
  width: 40px;
  height: 40px;
}
.article-cta-vertical li:first-child, .article-cta-vertical li:nth-child(2) {
  background: #c81717;
}
.article-cta-vertical li:last-child {
  background: #102b4e;
}
.article-cta-vertical li:not(:last-child) {
  border-bottom: 1px solid #dc4545;
}
.article-cta-vertical a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-cta-vertical svg {
  display: block;
}
.article-cta-vertical svg.icon-fb-2 {
  fill: #fff;
}
.article-cta-vertical svg.icon-twitter {
  fill: #fff;
}
.article-cta-vertical svg.icon-print {
  fill: #fff;
}

.icon-fb-2 {
  width: 9px;
  height: 18px;
}

.icon-twitter {
  width: 16.534px;
  height: 13.455px;
}

.icon-print {
  width: 19.2px;
  height: 20.677px;
}

.file {
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1em;
}
@media only screen and (min-width: 768px) {
  .file {
    flex-direction: row;
    align-items: center;
  }
}
.file-list li {
  border-bottom: 1px solid #e3e3e3;
}
.file-content {
  display: flex;
  flex-grow: 1;
  gap: 16px;
}
.file-icon {
  flex-basis: 22px;
  align-self: flex-start;
  border-bottom: 4px solid #c81717;
}
.file-icon svg {
  display: block;
  margin: 0 auto;
  margin-bottom: 4px;
}
.file-title {
  margin-top: 5px;
  max-width: 70ch;
}
.file-action {
  margin-left: 34px;
}
.file-link {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.file time {
  display: block;
  margin: 0.5em 0 1em;
}
.file-action .icon {
  width: 32px;
  height: 32px;
  border: 1px solid #102b4e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.file-action .icon svg {
  display: block;
  width: 10px;
  height: 10px;
  fill: #102b4e;
}

.legal-act {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  background: blue;
}
.legal-act-icon {
  width: 22px;
  margin-right: 16px;
  align-self: flex-start;
  border-bottom: 4px solid #c81717;
}
.legal-act time {
  display: block;
  margin-bottom: 8px;
  margin-top: 16px;
}
.legal-act p {
  max-width: 82ch;
}
.legal-act-link {
  margin-top: 4px;
  display: inline-block;
}
.legal-act-download {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}
@media only screen and (min-width: 768px) {
  .legal-act-download {
    margin-top: 0;
  }
}
.legal-act-download svg {
  display: block;
}
.legal-act-detailed {
  margin-bottom: 32px;
}
.legal-act-detailed-meta {
  margin-bottom: 48px;
}
.legal-act-detailed-meta .legal-act-icon {
  margin: 0;
  margin-left: 8px;
  padding-bottom: 5px;
}
.legal-act-detailed-meta > div {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .legal-act-detailed-meta > div {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.legal-act-detailed-texts {
  max-width: 74ch;
  margin: 0 auto;
}
.legal-act-detailed-texts h2 {
  margin: 8px 0 32px 0;
}
.legal-act-detailed-texts p {
  margin-top: 16px;
}

.links-list {
  margin-bottom: 4em;
}
.links-list li:not(:last-child) {
  margin-bottom: 1em;
}

.useful-link {
  display: flex;
  align-items: center;
  gap: 8px;
}
.useful-link .icon {
  display: inline-block;
  border-bottom: 4px solid #c81717;
}
.useful-link svg {
  display: block;
  width: 16px;
  height: 16px;
  fill: #000;
}

.form {
  max-width: 740px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }
  .form .span-2 {
    grid-column: span 2;
  }
}
.form-control {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}
.form-control-error input,
.form-control-error textarea {
  border-color: #c81717 !important;
}
.form-control-error .form-msg {
  color: #c81717 !important;
  display: block;
}
.form label {
  display: block;
  margin-bottom: 8px;
}
.form input[type=text],
.form input[type=tel],
.form input[type=email] {
  height: 48px;
  padding: 0 16px;
}
.form textarea {
  height: 96px;
  padding: 16px;
}
.form input,
.form textarea {
  border: 1px solid #cccccc;
}
.form button[type=submit] {
  align-self: start;
}
.form-msg {
  display: none;
  margin-top: 8px;
}

.site-footer {
  padding-right: 30px;
  padding-bottom: 14px;
  background: #102b4e;
  background-image: url(../images/footer-lines.svg);
  background-repeat: no-repeat;
  background-position: 120% 100%;
}
.site-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-footer .social-media {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.site-footer .social-media svg {
  fill: #acb9bb;
}
.site-footer .site-footer-cta {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (min-width: 576px) {
  .site-footer .site-footer-cta {
    grid-column: 2/3;
  }
}
@media only screen and (min-width: 768px) {
  .site-footer .site-footer-cta {
    grid-column: 3/4;
  }
}
.site-footer .site-footer-cta a {
  height: 42px;
  padding: 0 12px 0 22px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(201, 24, 24, 0.4);
}
.site-footer .site-footer-cta a svg {
  display: block;
}
.site-footer .footer-texts {
  padding-top: 56px;
  padding-left: 60px;
  margin-bottom: 50px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
}
@media only screen and (min-width: 576px) {
  .site-footer .footer-texts {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 768px) {
  .site-footer .footer-texts {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 992px) {
  .site-footer .footer-texts > .footer-navigation:nth-child(2) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .site-footer .footer-texts address {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .site-footer .footer-texts .site-footer-cta {
    grid-row: 2/3;
  }
}
@media only screen and (min-width: 1200px) {
  .site-footer .footer-texts {
    grid-template-columns: repeat(5, 1fr);
  }
  .site-footer .footer-texts > .footer-navigation:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .site-footer .footer-texts address {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  .site-footer .footer-texts .site-footer-cta {
    grid-column: 5/6;
    grid-row: 1/2;
  }
}
.site-footer .slide-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40px;
  background: #c81717;
}
.site-footer .slide-to-top svg {
  display: block;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer-columns {
  display: flex;
}

.site-footer-bottom {
  padding-left: 24px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (min-width: 576px) {
  .site-footer-bottom {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  background: rgba(7, 16, 34, 0.4);
  z-index: 100;
}
@media only screen and (min-width: 768px) {
  .site-header {
    height: 64px;
  }
}
@media only screen and (min-width: 1200px) {
  .site-header {
    height: 78px;
    height: auto;
  }
}
@media only screen and (min-width: 1440px) {
  .site-header {
    height: auto;
  }
}

.site-logo {
  position: relative;
  margin-right: auto;
  margin-left: 16px;
  margin-top: 4px;
  height: 74px;
}
@media only screen and (min-width: 768px) {
  .site-logo {
    margin-top: 8px;
  }
}
.site-logo::before {
  content: "";
  position: absolute;
  bottom: 6px;
  left: -6px;
  width: 82px;
  height: 22px;
  background: rgba(7, 16, 34, 0.4);
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  z-index: -1;
}
@media only screen and (min-width: 768px) {
  .site-logo::before {
    bottom: -2px;
    left: -12px;
    width: 102px;
    height: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .site-logo::before {
    bottom: -16px;
    left: -6px;
  }
}
.site-logo svg {
  width: 70px;
  height: 61.32px;
}
@media only screen and (min-width: 768px) {
  .site-logo svg {
    width: 80px;
    height: 70px;
  }
}
@media only screen and (min-width: 1200px) {
  .site-logo svg {
    width: 90px;
    height: 78px;
  }
}
@media only screen and (min-width: 1440px) {
  .site-logo svg {
    width: 100px;
    height: 87.6px;
  }
}
@media only screen and (min-width: 1920px) {
  .site-logo svg {
    width: 110px;
    height: 96.36px;
  }
}

.icon-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50px;
  background: rgba(255, 255, 255, 0.8);
}
.icon-menu svg {
  display: block;
}
@media only screen and (min-width: 768px) {
  .icon-menu {
    width: 64px;
  }
}
@media only screen and (min-width: 1440px) {
  .icon-menu {
    display: none;
  }
}

.icon-search {
  margin: 0 10px;
}
@media only screen and (min-width: 380px) {
  .icon-search {
    margin: 0 20px;
  }
}
@media only screen and (min-width: 576px) {
  .icon-search {
    margin: 0 20px 0 40px;
  }
}
.icon-search svg {
  display: block;
}

.image {
  display: flex;
  flex-direction: column;
}
.image-caption-bottom {
  margin: 0 auto;
  flex-direction: column;
  max-width: 600px;
}
@media only screen and (min-width: 576px) {
  .image-caption-left {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
  }
  .image-caption-left figcaption {
    margin-top: 0;
    margin-right: 40px;
  }
  .image-caption-left figcaption::before {
    right: 0 !important;
    left: auto !important;
  }
}
@media only screen and (min-width: 576px) {
  .image-caption-right {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  .image-caption-right figcaption {
    margin-left: 40px;
    margin-top: 0;
  }
}
.image img {
  max-width: 600px;
  width: 100%;
}
.image figcaption {
  position: relative;
  margin-top: 40px;
}
.image figcaption::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 70px;
  height: 1px;
  background: #666;
}

.gallery-item {
  width: 100%;
}
.gallery-item figure {
  position: relative;
  height: 260px;
  overflow: hidden;
}
.gallery-item img,
.gallery-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-item-title {
  margin-top: 0.75em;
  text-align: center;
}
.gallery-item .file-link {
  margin-top: 0.75em;
}
.gallery-item .imagebtn {
  position: absolute;
  bottom: 16px;
  right: 16px;
}
.gallery-item .imagebtn svg {
  display: block;
  width: 28px;
  height: 28px;
  fill: #fff;
}
.gallery-item .videobtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gallery-item .videobtn svg {
  display: block;
  width: 110px;
  height: 110px;
  fill: #fff;
}

.map-of-georgia {
  display: flex;
  justify-content: center;
  align-items: center;
}
.map-of-georgia svg {
  width: 600px;
  height: 300px;
}

.medal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.medal figure {
  margin-bottom: 23px;
  height: 212px;
  max-width: 216px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(26, 26, 26, 0.15);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
}
.modal-backdrop {
  width: 100%;
  height: 100vh;
  background: rgba(7, 16, 34, 0.6);
}
.modal .region-news-date {
  display: block;
  margin-bottom: 8px;
}
.modal .region-news-title a {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}
.modal-regions-content {
  height: 100%;
  padding: 60px;
  max-width: 520px;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  font-family: "Noto Sans Georgian AG", sans-serif;
  overflow-y: scroll;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.modal-regions-content::-webkit-scrollbar {
  width: 6px;
}
.modal-regions-content::-webkit-scrollbar-track {
  background: #e0dfdf;
}
.modal-regions-content::-webkit-scrollbar-thumb {
  background: #cecece;
}
.modal-regions-content::-webkit-scrollbar-thumb:hover {
  background: #a7a7a7;
}
.modal-regions h3 {
  margin-bottom: 32px;
  font-family: "GL Tatishvili Metal", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #1a1a1a;
}
.modal-regions h2 {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  color: #102b4e;
}
.modal-regions p {
  margin-bottom: 32px;
  font-size: 14px;
  color: #464749;
}
.modal-regions ul {
  margin-bottom: 64px;
}
.modal-regions li:not(:last-child) {
  margin-bottom: 32px;
}
.modal-regions figure img {
  max-width: 460px;
  width: 100%;
  height: 290px;
  object-fit: cover;
}
.modal-regions figure figcaption {
  margin-top: 8px;
  font-size: 10px;
  color: #1a1818;
}

.site-nav {
  display: none;
  margin-right: 40px;
}
.site-nav :is(a, button) {
  display: block;
}
.site-nav button {
  padding: 0;
}
@media only screen and (min-width: 1440px) {
  .site-nav {
    display: block;
  }
  .site-nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
.site-nav-dropdown {
  position: relative;
}
.site-nav-dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}

.site-languages {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 12px;
}
@media only screen and (min-width: 380px) {
  .site-languages {
    gap: 20px;
  }
}
@media only screen and (min-width: 576px) {
  .site-languages {
    gap: 26px;
  }
}
@media only screen and (min-width: 1200px) {
  .site-languages {
    border-top: 6px solid #c81717;
  }
}

.page-actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.page-actions-left {
  justify-self: flex-start;
}
.page-actions-right {
  margin-left: auto;
}
.page-actions button.btn-blue:not(:last-child),
.page-actions a.btn-blue:not(:last-child) {
  border-right: 1px solid #102b4e;
}
.page-actions button.btn-blue.active,
.page-actions a.btn-blue.active {
  background: #102b4e;
}
.page-actions button.btn-red:not(:last-child),
.page-actions a.btn-red:not(:last-child) {
  border-right: 1px solid #d35454;
}
.page-actions button.btn-red.active,
.page-actions a.btn-red.active {
  background: #d22f28;
}

.pagination ul {
  display: flex;
  align-items: center;
  gap: 2px;
}
.pagination li {
  width: 40px;
  height: 40px;
}
.pagination li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #102b4e;
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
.pagination li a.active {
  background: #c81717;
}
.pagination li svg {
  display: block;
  width: 8px;
  height: 8px;
  fill: #fff;
}

.slick-dotted .slick-dots {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  list-style: none;
}
.slick-dotted button[role=tab] {
  display: block;
  width: 10px;
  height: 12px;
  border-radius: 20px;
  color: transparent;
  cursor: pointer;
}
.slick-dotted .slick-active button[role=tab] {
  width: 18px;
  height: 18px;
  background: transparent;
}

.hero-slider .slick-dots {
  position: absolute;
  top: 50%;
  right: 24px;
  flex-direction: column;
  z-index: 100;
}
.hero-slider .slick-dots button {
  background: #fff;
}
.hero-slider .slick-dots .slick-active button {
  background: transparent;
  border: 1px solid #fff;
}
.hero-slider .slick-arrow {
  padding: 0;
  position: absolute;
  bottom: 10px;
  z-index: 1000;
}
.hero-slider .slick-arrow svg {
  fill: #fff;
}
.hero-slider .slick-prev {
  left: 32px;
}
.hero-slider .slick-next {
  right: 32px;
}

.fb-cards-slider .slick-dots {
  margin: 0;
  margin-top: 34px;
}
.fb-cards-slider button {
  background: #102b4e;
}
.fb-cards-slider .slick-active button {
  border: 1px solid #102b4e;
}

@media only screen and (min-width: 1200px) {
  .address-slider {
    width: calc(100% - 20px);
  }
}
.address-slider .slick-slide {
  margin: 0 20px;
}
.address-slider .slick-list {
  margin: 0 -20px;
}
@media only screen and (min-width: 1200px) {
  .address-slider .slick-list {
    padding: 0 160px 0 0 !important;
  }
}
.address-slider .slick-arrow {
  position: absolute;
  bottom: -30px;
}
.address-slider .slick-arrow svg {
  display: block;
  fill: #1a1a1a;
}
.address-slider .slick-prev {
  right: 60px;
}
.address-slider .slick-next {
  right: -10px;
}

.foreign-press-slider {
  position: relative;
}
.foreign-press-slider .slick-dots {
  position: absolute;
  right: -50px;
  top: 40%;
  flex-direction: column;
}
.foreign-press-slider button {
  background: #e9a2a2;
}
.foreign-press-slider .slick-active button {
  border: 1px solid #e9a2a2;
}

.timestamp {
  position: absolute;
  bottom: -5px;
  left: 15px;
  width: 100%;
}
.timestamp::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 20px;
  height: 5px;
  background: #c81717;
  transition: all 0.2s linear;
}

.datetime-stamp {
  display: inline-block;
  padding: 4px 8px;
  background: #c81717;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
@media only screen and (min-width: 768px) {
  .container {
    padding: 0 54px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    padding: 0 60px;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    padding: 0;
    width: 1366px;
  }
}

.container-narrow {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
@media only screen and (min-width: 768px) {
  .container-narrow {
    padding: 0 54px;
  }
}
@media only screen and (min-width: 1200px) {
  .container-narrow {
    width: 1080px;
    padding: 0;
  }
}
@media only screen and (min-width: 1440px) {
  .container-narrow {
    width: 1200px;
  }
}

.content-wrapper {
  margin: 64px 0 100px 0;
}

.grid-12 {
  display: grid;
  grid-template-columns: 1fr;
}
@media only screen and (min-width: 1200px) {
  .grid-12 {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    row-gap: 24px;
  }
  .grid-12 .span-3 {
    grid-column: span 3;
  }
  .grid-12 .span-4 {
    grid-column: span 4;
  }
  .grid-12 .span-5 {
    grid-column: span 5;
  }
  .grid-12 .span-7 {
    grid-column: span 7;
  }
  .grid-12 .span-8 {
    grid-column: span 8;
  }
  .grid-12 .span-10 {
    grid-column: span 10;
  }
  .grid-12 .span-12 {
    grid-column: span 12;
  }
}
@media only screen and (min-width: 1440px) {
  .grid-12 {
    column-gap: 40px;
    row-gap: 40px;
  }
}
.grid-12 main {
  grid-column: 1/9;
}
.grid-12 aside {
  grid-column: 9/13;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2em;
}
@media only screen and (min-width: 1200px) {
  .grid-2 {
    grid-template-columns: 2fr 1fr;
    column-gap: 56px;
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2em;
}
@media only screen and (min-width: 768px) {
  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 50px;
  }
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2em;
}
@media only screen and (min-width: 1200px) {
  .grid-4 {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 50px;
  }
}
@media only screen and (min-width: 1440px) {
  .grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

.grid-priorities {
  margin-top: 34px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 40px;
}
.grid-priorities > div:first-child {
  grid-column: 1/3;
}
.grid-priorities > div:nth-child(2) {
  grid-column: 3/5;
}
.grid-priorities > div:nth-child(3) {
  grid-column: 5/7;
}
.grid-priorities > div:nth-child(4) {
  grid-column: 2/4;
  grid-row: 2/3;
}
.grid-priorities > div:nth-child(5) {
  grid-column: 4/6;
  grid-row: 2/3;
}
.grid-priorities .priority .icon {
  margin: 10px 0 10px 0;
}

.news-section-grid {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 60px;
}
@media only screen and (min-width: 768px) {
  .news-section-grid {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 48px;
  }
  .news-section-grid .card {
    grid-column: span 6;
  }
  .news-section-grid .card-featured {
    grid-column: span 7;
  }
  .news-section-grid .fb-cards-slider {
    grid-column: span 5;
  }
}
@media only screen and (min-width: 1200px) {
  .news-section-grid .card {
    grid-column: span 4;
  }
  .news-section-grid .card-featured {
    grid-column: span 7;
  }
  .news-section-grid .fb-cards-slider {
    grid-column: span 5;
  }
}

.section {
  margin: 60px 0;
}
.section-heading {
  margin-bottom: 44px;
  display: flex;
  align-items: flex-end;
}
.section-heading h2 {
  margin-right: 16px;
}

.priorities {
  padding: 64px 0;
}
.priorities h2 {
  margin-left: 30px;
}

.hero {
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 5px;
  background: #c81717;
  z-index: 10;
}
@media only screen and (min-width: 768px) {
  .hero::after {
    width: 600px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.hero-slider {
  height: 300px;
}
@media only screen and (min-width: 768px) {
  .hero-slider {
    height: 400px;
  }
}
@media only screen and (min-width: 992px) {
  .hero-slider {
    height: 516px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-slider {
    height: 100vh;
    max-height: 710px;
  }
}
@media only screen and (min-width: 1920px) {
  .hero-slider {
    height: 100vh;
    max-height: 1000px;
  }
}
.hero-item {
  position: relative;
  height: 300px;
}
@media only screen and (min-width: 768px) {
  .hero-item {
    height: 400px;
  }
}
@media only screen and (min-width: 992px) {
  .hero-item {
    height: 516px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-item {
    height: 100vh;
    max-height: 710px;
  }
}
@media only screen and (min-width: 1920px) {
  .hero-item {
    height: 100vh;
    max-height: 1000px;
  }
}
.hero-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(7, 16, 34, 0.8), rgba(7, 16, 34, 0.5), rgba(7, 16, 34, 0));
  z-index: 1;
  pointer-events: none;
}
.hero-item video {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: fill;
}
@media only screen and (min-width: 768px) {
  .hero-item video {
    height: 400px;
  }
}
@media only screen and (min-width: 992px) {
  .hero-item video {
    height: 516px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-item video {
    height: 100vh;
    max-height: 710px;
  }
}
@media only screen and (min-width: 1920px) {
  .hero-item video {
    height: 100vh;
    max-height: 1000px;
  }
}
.hero-item figcaption {
  position: absolute;
  width: 100%;
  bottom: 70px;
  z-index: 100;
}
.hero-item figcaption button {
  border: none;
  padding: 0;
}
.hero-item figcaption svg {
  width: 19px;
  height: 20px;
  display: block;
}
.hero-item h2 {
  max-width: 30ch;
}
.hero-item #muteVideo {
  padding: 0;
  position: absolute;
  top: 100px;
  right: 17px;
  z-index: 100;
  border: none;
}
.hero-item .mute {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .hero-item .mute {
    display: block;
    width: 29.41px;
    height: 29.412px;
  }
}
.hero .video-controls {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .hero .video-controls {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
}
.hero .video-controls span {
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}
.hero .video-timeline {
  margin-left: 24px;
}

.index-block {
  display: grid;
  grid-template-columns: 1fr;
}
@media only screen and (min-width: 768px) {
  .index-block {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 320px auto;
  }
  .index-block .priorities {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.orbeliani-palace {
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, rgba(201, 24, 24, 0.7), rgba(201, 24, 24, 0.7)), url(../images/palace.jpg);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .orbeliani-palace {
    height: 100%;
  }
}

.president-signature {
  position: relative;
  height: 480px;
}
@media only screen and (min-width: 768px) {
  .president-signature {
    height: 100%;
  }
}
.president-signature .president {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.president-signature .signature {
  position: absolute;
  bottom: 10px;
  left: 25px;
  width: 132px;
  height: auto;
  object-fit: cover;
}

.foreign-press {
  background: #c81717;
  padding: 48px;
}
.foreign-press-slider {
  max-width: 80vw;
}
@media only screen and (min-width: 768px) {
  .foreign-press-slider {
    max-width: calc(50vw - 150px);
  }
}
.foreign-press-article figure {
  position: relative;
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .foreign-press-article figure {
    height: 180px;
    overflow: hidden;
  }
}
@media only screen and (min-width: 1200px) {
  .foreign-press-article figure {
    height: 240px;
    overflow: hidden;
  }
}
@media only screen and (min-width: 1440px) {
  .foreign-press-article figure {
    height: 420px;
    overflow: hidden;
  }
}
.foreign-press-article figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.foreign-press-article figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "GL Tatishvili Metal", sans-serif;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
}
.foreign-press-article h3 {
  font-family: "GL Tatishvili Metal", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.foreign-press-article h3 a {
  color: inherit;
  text-decoration: none;
}

p.lead {
  margin-left: 0;
  margin-right: auto;
}

.about-georgia p {
  line-height: 1.6;
  max-width: 80ch;
  margin: 1.5em auto;
}

.occupied {
  display: flex;
}
.occupied p {
  line-height: 1.6;
  max-width: 80ch;
  margin: 1.5em auto;
}
.occupied p:first-child {
  margin-top: 0;
}

.symbols-container {
  margin: 6em 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
@media only screen and (min-width: 768px) {
  .symbols-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
  }
}
@media only screen and (min-width: 1200px) {
  .symbols-container {
    margin: 8em 0;
  }
}
.symbols-container img {
  height: 190px;
  width: auto;
  margin: 0 auto;
  margin-bottom: 1.5em;
}

.constitution {
  display: flex;
}
.constitution .image {
  margin: 3em 0 2em;
}
.constitution .image img {
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 768px) {
  .constitution .image img {
    width: 512px;
    height: 462px;
  }
}
.constitution p {
  max-width: 1020px;
}

.independence {
  display: flex;
}
.independence-act-photos {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
@media only screen and (min-width: 768px) {
  .independence-act-photos {
    flex-direction: row;
    align-items: flex-start;
  }
}
.independence-act-photos figure {
  flex-basis: 50%;
}
.independence-act-photos img {
  margin: 0 auto;
}
.independence-act-photos figcaption {
  margin-top: 1em;
  text-align: center;
}

.bio h1 {
  font-family: "GL Tatishvili Metal", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #1a1a1a;
}
.bio .offset {
  margin-left: 122px;
  margin-bottom: 64px;
}
.bio .offset img {
  margin-top: 16px;
  margin-bottom: 34px;
}
.bio .section-title-bg {
  margin-left: 118px;
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-family: "GL Tatishvili Metal", sans-serif;
  font-size: 21px;
  font-weight: 700;
  color: #fff;
  background: #c81717;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.bio .section-title-bg::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -120px;
  width: 120px;
  height: 4px;
  background: #c81717;
}
.bio ul,
.bio ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.bio ul li,
.bio ol li {
  margin-top: 30px;
}
.bio .date {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
}

.medals-banner {
  margin-top: 120px;
  margin-bottom: 80px;
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/banner-calendar-02.jpg");
}
@media only screen and (min-width: 768px) {
  .medals-banner {
    height: 360px;
  }
}
@media only screen and (min-width: 1440px) {
  .medals-banner {
    height: 460px;
  }
}

.president-authority {
  margin-bottom: 4em;
}
.president-authority ol {
  list-style-type: numbers;
}
.president-authority ol ol {
  list-style-type: georgian;
  margin-left: 120px;
}
.president-authority ol li {
  margin: 2em 0;
  padding-left: 1em;
  max-width: 110ch;
}

.standard h2 {
  margin-bottom: 48px;
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #000;
}
.standard p {
  margin-bottom: 40px;
}
.standard-photo {
  padding: 0 10px;
}

.dated {
  display: flex;
  align-items: flex-start;
}
.dated time,
.dated .date {
  min-width: 122px;
  font-family: "Noto Sans Georgian AG", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #1a1a1a;
}

/*# sourceMappingURL=style.css.map */
