@font-face {
  font-family: 'GL Tatishvili Metal';
  src: url('../fonts/GLTatishviliMetal-Bold.woff2') format('woff2'),
    url('../fonts/GLTatishviliMetal-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans Compressed';
  src: url('../fonts/FiraSansCompressed-Medium.woff2') format('woff2'),
    url('../fonts/FiraSansCompressed-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BPG Nino Mtavruli';
  src: url('../fonts/BPGNinoMtavruli-Bold.woff2') format('woff2'),
    url('../fonts/BPGNinoMtavruli-Bold.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Georgian AG';
  src: url('../fonts/NotoSansGeorgianAG-Bold.woff2') format('woff2'),
    url('../fonts/NotoSansGeorgianAG-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans Georgian AG';
  src: url('../fonts/NotoSansGeorgianAG-Light.woff2') format('woff2'),
    url('../fonts/NotoSansGeorgianAG-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/NotoSans-Bold.woff2') format('woff2'),
    url('../fonts/NotoSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Bold.woff2') format('woff2'),
    url('../fonts/FiraSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Medium.woff2') format('woff2'),
    url('../fonts/FiraSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Light.woff2') format('woff2'),
    url('../fonts/FiraSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
