@use 'variables' as v;
@use 'mixins' as m;

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

// body {
//   overflow-x: hidden;
// }

p {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

blockquote {
  position: relative;
  max-width: 555px;
  margin: 4em auto 3em;

  &::before {
    content: '“';
    position: absolute;
    top: -52px;
    left: -14px;
  }
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.icon-arrow-box {
  @include m.size(32px, 32px);
  @include m.flex(row, center, center);
  border: 1px solid v.$color-blue-700;
  transition: all 0.2s ease-in-out;

  svg {
    @include m.svg(10px, 10px, v.$color-blue-700);
  }
}

.official {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media only screen and (min-width: 992px) {
    flex-direction: row;
  }

  &-president {
    flex-grow: 1;
  }

  &-exp {
    li {
      &:not(:last-child) {
        margin-bottom: 24px;
      }

      p {
        margin-top: 0.25em;
      }
    }
  }

  &-left {
    @media only screen and (min-width: 1200px) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  figure {
    margin: 16px auto 24px auto;
    max-width: 340px;
    overflow: hidden;

    @media only screen and (min-width: 992px) {
      width: 214px;
    }

    @media only screen and (min-width: 1200px) {
      max-width: initial;
      width: 360px;
      margin-left: auto;
      margin-right: 0;
      margin-bottom: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-president-image {
    @media only screen and (min-width: 1200px) {
      width: 420px !important;
    }

    @media only screen and (min-width: 1400px) {
      width: 60px !important;
    }
  }
}
