@mixin font($font-family, $font-size, $font-weight, $color) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}

@mixin flex($direction: row, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin pseudo($pos: absolute, $display: block, $width, $height) {
  content: '';
  position: $pos;
  display: $display;
  width: $width;
  height: $height;
}

@mixin svg($width, $height, $fill) {
  display: block;
  width: $width;
  height: $height;
  fill: $fill;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin image() {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin center-transform {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Placeholder
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
