@mixin font($font-family, $font-size, $font-weight, $color) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}

@mixin flex($direction: row, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin pseudo($pos, $display, $width, $height) {
  content: '';
  position: $pos;
  display: $display;
  width: $width;
  height: $height;
}

@mixin svg($width, $height, $fill) {
  display: block;
  width: $width;
  height: $height;
  fill: $fill;
}
