@use './variables' as v;
@use './mixins' as m;

:is(p, li, cite, figcaption, pre) {
  @include m.font(v.$font-notosansgeo, 0.875rem, 300, v.$color-gray-900);

  @media only screen and (min-width: v.$lg) {
    font-size: 1rem;
  }
}

.article h1 {
  @include m.font(v.$font-bpgnino, 1.625rem, 700, v.$color-gray-900);
}

h2 {
  @include m.font(v.$font-bpgnino, 1.375rem, 700, v.$color-gray-900);
}

h3,
h4 {
  @include m.font(v.$font-bpgnino, 1.25rem, 700, v.$color-gray-900);
}

blockquote {
  &::before {
    @include m.font(v.$font-notosansgeo, 5rem, 700, v.$color-red-700);
  }

  p {
    @include m.font(v.$font-notosansgeo, 1rem, 700, v.$color-red-700);
  }
}

label {
  @include m.font(v.$font-notosansgeo, 1rem, 700, v.$color-gray-900);
}

input[type='text'],
input[type='tel'],
input[type='email'],
textarea {
  @include m.font(v.$font-notosansgeo, 1rem, 300, v.$color-gray-900);
}

input[type='search'] {
  @include m.font(v.$font-notosansgeo, 1rem, 300, v.$color-white);

  @include m.placeholder {
    @include m.font(v.$font-notosansgeo, 1rem, 300, v.$color-white);
  }
}

time {
  @include m.font(v.$font-notosansgeo, 0.875rem, 300, v.$color-gray-900);

  @media only screen and (min-width: v.$lg) {
    font-size: 1rem;
  }
}

.form-msg {
  @include m.font(v.$font-notosansgeo, 0.875rem, 300, v.$color-gray-900);
}

.btn {
  @include m.font(v.$font-notosansgeo, 1rem, 500, v.$color-gray-900);

  span {
    @include m.font(v.$font-notosansgeo, 1rem, 500, v.$color-gray-900);
  }

  &-red,
  &-blue,
  &-outline {
    color: v.$color-white;

    &-dark {
      color: v.$color-blue-700;
    }

    span {
      color: v.$color-white;
    }
  }
}

.link {
  @include m.font(v.$font-notosansgeo, 0.875rem, 500, v.$color-gray-900);

  span {
    @include m.font(v.$font-notosansgeo, 0.875rem, 500, v.$color-gray-900);
  }

  &-red {
    color: v.$color-red-700;

    span {
      color: v.$color-red-700;
    }
  }
}

.site-nav {
  :is(a, button) {
    @include m.font(v.$font-tatishvili, 1.125rem, 700, v.$color-white);
    text-decoration: none;
  }
}

.mobile-nav {
  button,
  button span {
    @include m.font(v.$font-tatishvili, 1.875rem, 700, v.$color-white);
  }

  a {
    @include m.font(v.$font-tatishvili, 1.375rem, 700, v.$color-white);
    text-decoration: none;
  }
}

.site-languages {
  a {
    @include m.font(v.$font-notosansgeo, 16px, 700, v.$color-white);
    text-decoration: none;
    text-transform: capitalize;
    opacity: 0.6;

    @media only screen and (min-width: v.$xxs) {
      font-size: 18px;
    }

    &.active {
      opacity: 1;
    }
  }
}

.page-title {
  @include m.font(v.$font-bpgnino, 1.375rem, 700, v.$color-gray-900);

  @media only screen and (min-width: v.$lg) {
    font-size: 1.625rem;
  }
}

.file-title {
  @include m.font(v.$font-notosansgeo, 1rem, 700, v.$color-gray-900);

  a {
    display: block;
    color: inherit;
    text-decoration: none;
  }
}

.file-link {
  @include m.font(v.$font-notosansgeo, 0.875rem, 300, v.$color-gray-600);
}

.useful-link {
  a {
    @include m.font(v.$font-notosansgeo, 1rem, 300, v.$color-gray-900);
    text-decoration: none;
  }
}

.tour-item {
  h2 {
    @include m.font(v.$font-tatishvili, 1.75rem, 700, v.$color-red-700);

    @media only screen and (min-width: v.$xl) {
      font-size: 2.25rem;
    }
  }

  &-padded {
    h2 {
      color: v.$color-gray-900;
    }
  }
}

.search-result-title {
  @include m.font(v.$font-notosansgeo, 1.25rem, 700, v.$color-gray-900);

  a {
    color: inherit;
    text-decoration: none;
  }
}

.search-result-action {
  @include m.font(v.$font-notosansgeo, 0.875rem, 500, v.$color-blue-700);
}

.title-underlined {
  display: inline-block;
  margin: 32px 0 16px 0;
  border-bottom: 4px solid v.$color-red-700;
  @include m.font(v.$font-tatishvili, 1.375rem, 700, v.$color-black);
  line-height: 1;
}

.image figcaption {
  @include m.font(v.$font-notosansgeo, 1rem, 300, v.$color-gray-900);
}

.gallery-item-title {
  @include m.font(v.$font-bpgnino, 1.125rem, 700, v.$color-gray-900);
}

.symbols-container figcaption {
  @include m.font(v.$font-bpgnino, 1rem, 700, v.$color-gray-900);

  @media only screen and (min-width: v.$sm) {
    font-size: 1.25rem;
  }
}

.hero-item {
  h2 {
    @include m.font(v.$font-tatishvili, 1.625rem, 700, v.$color-white);
    line-height: 1.2;

    @media only screen and (min-width: v.$sm) {
      font-size: 1.875rem;
    }

    @media only screen and (min-width: v.$md) {
      font-size: 2.25rem;
    }

    @media only screen and (min-width: v.$lg) {
      font-size: 2.375rem;
    }

    @media only screen and (min-width: v.$xl) {
      font-size: 2.5rem;
    }

    @media only screen and (min-width: v.$xxl) {
      font-size: 3.125rem;
    }
  }
}

.site-footer {
  address {
    font-style: normal;

    h3 {
      @include m.font(v.$font-tatishvili, 0.875rem, 700, v.$color-blue-100);
      text-transform: uppercase;
    }

    :is(li, a) {
      @include m.font(v.$font-notosansgeo, 0.75rem, 300, v.$color-blue-100);
      text-decoration: none;
    }

    a {
      transition: all 0.2s ease-in-out;

      &:hover,
      &:active {
        color: v.$color-red-700;
      }
    }
  }

  &__navigation {
    a {
      @include m.font(v.$font-tatishvili, 0.875rem, 700, v.$color-blue-100);
      text-decoration: none;
      transition: all 0.2s ease-in-out;

      &:hover,
      &:active {
        color: v.$color-red-700;
      }
    }
  }

  &__copy {
    @include m.font(v.$font-notosansgeo, 0.75rem, 300, v.$color-gray-300);
  }

  &__cta {
    a {
      @include m.font(v.$font-tatishvili, 0.875rem, 700, v.$color-white);
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.banner {
  &__title {
    @include m.font(v.$font-tatishvili, 1.625rem, 700, v.$color-white);

    @media only screen and (min-width: v.$sm) {
      font-size: 2.5rem;
    }

    @media only screen and (min-width: v.$xxl) {
      font-size: 3.125rem;
    }
  }

  &__subtitle {
    @include m.font(v.$font-notosansgeo, 1rem, 300, v.$color-white);
  }
}

.video-banner {
  h2 {
    @include m.font(v.$font-tatishvili, 1.625rem, 700, v.$color-white);
    line-height: 1.2;

    @media only screen and (min-width: v.$sm) {
      font-size: 1.875rem;
    }

    @media only screen and (min-width: v.$md) {
      font-size: 2.25rem;
    }

    @media only screen and (min-width: v.$lg) {
      font-size: 2.375rem;
    }

    @media only screen and (min-width: v.$xl) {
      font-size: 2.5rem;
    }

    @media only screen and (min-width: v.$xxl) {
      font-size: 3.125rem;
    }
  }
}

.video-banner-controls {
  span {
    @include m.font(v.$font-notosansgeo, 0.75rem, 500, v.$color-white);
  }
}

.page-title {
  font-size: 1.625rem;
}

.section {
  &-title {
    @include m.font(v.$font-tatishvili, 1.625rem, 700, v.$color-blue-900);
    line-height: 1;
  }

  &-link {
    @include m.font(v.$font-notosansgeo, 1rem, 300, v.$color-blue-900);
  }
}

.card__title {
  @include m.font(v.$font-bpgnino, 1.125rem, 700, v.$color-blue-900);
  line-height: 1.3;
}

.card-fb {
  time {
    @include m.font(v.$font-notosansgeo, 0.75rem, 500, v.$color-blue-900);
  }
}

.fb-handle a {
  @include m.font(v.$font-notosansgeo, 0.5rem, 500, v.$color-blue-900);
  text-decoration: none;
}

.address-card__title {
  @include m.font(v.$font-notosansgeo, 1rem, 700, v.$color-white);
}

.datetime-stamp {
  @include m.font(v.$font-tatishvili, 0.875rem, 700, v.$color-white);
}

.orbeliani-palace {
  h2 {
    @include m.font(v.$font-bpgnino, 2rem, 700, v.$color-white);
  }

  a {
    @include m.font(v.$font-notosansgeo, 0.875rem, 300, v.$color-white);
  }
}

.priorities {
  h2 {
    color: v.$color-red-700;
  }
}

.priority {
  h3 {
    @include m.font(v.$font-tatishvili, 1rem, 700, v.$color-blue-700);

    @media only screen and (min-width: v.$sm) {
      font-size: 1.125rem;
    }
  }

  a {
    @include m.font(v.$font-notosansgeo, 0.625rem, 300, v.$color-blue-700);

    @media only screen and (min-width: v.$sm) {
      font-size: 0.75rem;
    }
  }
}

.foreign-press {
  h3 {
    @include m.font(v.$font-tatishvili, 1.125rem, 700, v.$color-white);

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  figcaption {
    @include m.font(v.$font-tatishvili, 2rem, 700, v.$color-white);
    line-height: 1;
  }
}

.aside-title {
  @include m.font(v.$font-tatishvili, 1.375rem, 700, v.$color-white);
}

.administration-official {
  h2 {
    @include m.font(v.$font-bpgnino, 18px, 700, v.$color-black);

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.medal {
  h2 {
    @include m.font(v.$font-bpgnino, 16px, 700, v.$color-gray-900);
    text-align: center;
  }
}

.dropdown-content li {
  @include m.font(v.$font-notosansgeo, 0.875rem, 500, v.$color-blue-700);

  &:hover,
  &:active,
  &.active {
    color: v.$color-red-700;
  }
}
