@use './variables' as v;

.sr-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  // IE6, IE7
  clip: rect(1px, 1px, 1px, 1px);
}

.mb-sm {
  margin-bottom: 16px;
}

.mb-md {
  margin-bottom: 32px;
}

.mb-lg {
  margin-bottom: 64px;
}

.text-wrap {
  max-width: 70ch;
}

.text-center {
  text-align: center;
}

.lead {
  font-size: 18px;
  font-weight: 700;
}

.text-accented {
  color: v.$color-red-700;
}
