@use './variables' as v;

.sr-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  // IE6, IE7
  clip: rect(1px, 1px, 1px, 1px);
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mt-sm {
  margin-top: 16px !important;
}

.mb-md {
  margin-bottom: 32px !important;
}

.mb-lg {
  margin-bottom: 64px !important;
}

.mt-lg {
  margin-top: 64px !important;
}

.my-md {
  margin: 32px 0 !important;
}

.ma-x {
  margin: 0 auto;
}

.align-right {
  margin-right: 0;
  margin-left: auto;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.text-wrap {
  max-width: 70ch;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-md {
  font-weight: 500;
}

.lead {
  font-size: 18px;
  font-weight: 700;
}

.text-accented {
  color: v.$color-red-700;
}

.hide-on-lg {
  display: none;
  @media only screen and (min-width: v.$lg) {
    display: block;
  }
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
