.sr-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  // IE6, IE7
  clip: rect(1px, 1px, 1px, 1px);
}

.text-center {
  text-align: center;
}

.mb-md {
  margin-bottom: 32px;
}

.mb-lg {
  margin-bottom: 64px;
}
