// Colors
$color-red-700: #c81717;
$color-red-500: #d35454;
$color-red-300: #fab5b5;

$color-blue-900: #071021;
$color-blue-700: #102b4e;
$color-blue-500: #1a4680;
$color-blue-100: #acb9bb;

$color-gray-900: #1a1a1a;
$color-gray-600: #666666;
$color-gray-500: #808080;
$color-gray-300: #dddddd;
$color-gray-200: #ececec;

$color-white: #fff;
$color-black: #000;

// Fonts
$font-tatishvili: 'GL Tatishvili Metal', sans-serif;
$font-notosansgeo: 'Noto Sans Georgian AG', sans-serif;
$font-notosans: 'Noto Sans', sans-serif;
$font-bpgnino: 'BPG Nino Mtavruli', sans-serif;
$font-firasans: 'Fira Sans', sans-serif;
$font-firacompressed: 'Fira Sans Compressed', sans-serif;

// Media Queries
$xxl: 1920px;
$xl: 1440px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;
$xxs: 380px;
