@use "../02_base/variables" as v;

.bio {
  @media only screen and (min-width: v.$lg) {
    margin-left: -5px;
  }

  @media only screen and (min-width: v.$xl) {
    margin-left: -118px;
  }

  h1 {
    font-family: v.$font-tatishvili;
    font-size: 26px;
    font-weight: 700;
    color: v.$color-gray-900;
  }

  .offset {
    margin-bottom: 64px;

    @media only screen and (min-width: v.$lg) {
      margin-left: 122px;
    }

    img {
      margin-top: 16px;
      margin-bottom: 34px;
    }
  }

  .section-title-bg {
    margin-left: 5px;
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-family: v.$font-tatishvili;
    font-size: 21px;
    font-weight: 700;
    color: v.$color-white;
    background: v.$color-red-700;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    @media only screen and (min-width: v.$lg) {
      margin-left: 118px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -5px;
      width: 5px;
      height: 4px;
      background: v.$color-red-700;

      @media only screen and (min-width: v.$lg) {
        left: -120px;
        width: 120px;
      }
    }
  }

  ul,
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-top: 30px;
    }
  }

  .date {
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
  }
}

.president-publications-modal {
  position: fixed;
  top: 0;
  right: calc(-100% - 25px);
  height: 100vh;
  padding: 70px 25px;
  background: hsla(0, 0%, 100%, 0.95);
  z-index: 100000000;
  transition: right 0.5s ease-in-out;
  overflow-y: scroll;

  @media only screen and (min-width: v.$lg) {
    padding: 100px;
    right: calc(-100% - 100px);
  }

  /* width */
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #1a4680;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(167, 167, 167);
  }

  &.shown {
    right: 0%;
  }

  .president-publications-list {
    display: flex;
    flex-direction: column;
    gap: 34px;

    @media only screen and (min-width: v.$lg) {
      gap: 74px;
    }
  }
}
