@use '../02_base/variables' as v;

p.lead {
  margin-left: 0;
  margin-right: auto;
}

.about-georgia {
  p {
    line-height: 1.6;
    max-width: 80ch;
    margin: 1.5em auto;
  }
}

.occupied {
  p {
    line-height: 1.6;
    max-width: 80ch;
    margin: 1.5em auto;

    &:first-child {
      margin-top: 0;
    }
  }
}

.symbols-container {
  margin: 6em 0;
  display: flex;
  flex-direction: column;
  gap: 2em;

  @media only screen and (min-width: v.$sm) {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
  }

  @media only screen and (min-width: v.$lg) {
    margin: 8em 0;
  }

  img {
    height: 190px;
    width: auto;
    margin: 0 auto;
    margin-bottom: 1.5em;
  }
}

.constitution {
  .image {
    margin: 3em 0 2em;

    img {
      width: 100%;
      height: auto;

      @media only screen and (min-width: v.$sm) {
        width: 512px;
        height: 462px;
      }
    }
  }

  p {
    max-width: 1020px;
  }
}

.independence-act-photos {
  display: flex;
  flex-direction: column;
  gap: 3em;

  @media only screen and (min-width: v.$sm) {
    flex-direction: row;
    align-items: flex-start;
  }

  figure {
    flex-basis: 50%;
  }

  img {
    margin: 0 auto;
  }

  figcaption {
    margin-top: 1em;
    text-align: center;
  }
}
