@use '../02_base/variables' as v;

.hero {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background: v.$color-red-700;
    z-index: 10;

    @media only screen and (min-width: v.$sm) {
      width: 600px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &-slider {
    height: 300px;

    @media only screen and (min-width: v.$sm) {
      height: 400px;
    }
    @media only screen and (min-width: v.$md) {
      height: 516px;
    }
    @media only screen and (min-width: v.$lg) {
      height: 100vh;
      max-height: 710px;
    }
    @media only screen and (min-width: v.$xxl) {
      height: 100vh;
      max-height: 1000px;
    }
  }

  &-item {
    position: relative;
    height: 300px;

    @media only screen and (min-width: v.$sm) {
      height: 400px;
    }
    @media only screen and (min-width: v.$md) {
      height: 516px;
    }
    @media only screen and (min-width: v.$lg) {
      height: 100vh;
      max-height: 710px;
    }
    @media only screen and (min-width: v.$xxl) {
      height: 100vh;
      max-height: 1000px;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to top,
        hsl(219, 65%, 8%, 80%),
        hsl(219, 65%, 8%, 50%),
        hsl(219, 65%, 8%, 0%)
      );
      z-index: 1;
      pointer-events: none;
    }

    video {
      display: block;
      width: 100%;
      height: 300px;
      object-fit: fill;

      @media only screen and (min-width: v.$sm) {
        height: 400px;
      }
      @media only screen and (min-width: v.$md) {
        height: 516px;
      }
      @media only screen and (min-width: v.$lg) {
        height: 100vh;
        max-height: 710px;
      }
      @media only screen and (min-width: v.$xxl) {
        height: 100vh;
        max-height: 1000px;
      }
    }

    figcaption {
      position: absolute;
      width: 100%;
      bottom: 70px;
      z-index: 100;

      button {
        border: none;
        padding: 0;
      }

      svg {
        width: 19px;
        height: 20px;
        display: block;
      }
    }

    h2 {
      max-width: 30ch;
    }

    #muteVideo {
      padding: 0;
      position: absolute;
      top: 100px;
      right: 17px;
      z-index: 100;
      border: none;
    }

    .mute {
      display: none;

      @media only screen and (min-width: v.$lg) {
        display: block;
        width: 29.41px;
        height: 29.412px;
      }
    }
  }

  .video {
    &-controls {
      display: none;

      @media only screen and (min-width: v.$lg) {
        margin-top: 20px;
        display: flex;
        align-items: center;
      }

      span {
        font-family: v.$font-notosansgeo;
        font-size: 12px;
        font-weight: 500;
        color: v.$color-white;
      }
    }

    &-timeline {
      margin-left: 24px;
    }
  }
}

.index-block {
  display: grid;
  grid-template-columns: 1fr;

  @media only screen and (min-width: v.$sm) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 320px auto;

    .priorities {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  }
}

.orbeliani-palace {
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      to left,
      hsla(0, 79%, 44%, 0.7),
      hsla(0, 79%, 44%, 0.7)
    ),
    url(../images/palace.jpg);
  background-repeat: no-repeat;

  @media only screen and (min-width: v.$sm) {
    height: 100%;
  }
}

.president-signature {
  position: relative;
  height: 480px;

  @media only screen and (min-width: v.$sm) {
    height: 100%;
  }

  .president {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .signature {
    position: absolute;
    bottom: 10px;
    left: 25px;
    width: 132px;
    height: auto;
    object-fit: cover;
  }
}

.foreign-press {
  background: v.$color-red-700;
  padding: 48px;

  &-slider {
    max-width: 80vw;

    @media only screen and (min-width: v.$sm) {
      max-width: calc(50vw - 150px);
    }
  }

  &-article {
    figure {
      position: relative;
      margin-bottom: 10px;

      @media only screen and (min-width: v.$sm) {
        height: 180px;
        overflow: hidden;
      }

      @media only screen and (min-width: v.$lg) {
        height: 240px;
        overflow: hidden;
      }

      @media only screen and (min-width: v.$xl) {
        height: 420px;
        overflow: hidden;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}
