@use '../02_base/variables' as v;

.index-block {
  display: grid;
  grid-template-columns: 1fr;

  @media only screen and (min-width: v.$sm) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 320px auto;

    .priorities {
      grid-column: 1/2;
      grid-row: 2/3;
    }
  }

  @media only screen and (min-width: v.$lg) {
    grid-template-rows: 460px auto;
  }

  @media only screen and (min-width: v.$xl) {
    grid-template-rows: 560px auto;
  }
}

.orbeliani-palace {
  position: relative;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: v.$sm) {
    height: 100%;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }

  figure {
    position: absolute;
    inset: 0;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(to left, hsla(0, 79%, 44%, 0.7), hsla(0, 79%, 44%, 0.7));
    }

    img {
      transition: 0.2s ease-in-out;
    }
  }

  h2 {
    position: relative;
  }
}

.president-signature {
  position: relative;
  height: 480px;

  @media only screen and (min-width: v.$sm) {
    height: 100%;
  }

  .president {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  > div {
    position: absolute;
    padding: 0 1em;
    width: 100%;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  .signature {
    left: 25px;
    width: 132px;
    height: auto;
    object-fit: cover;
  }
}

.foreign-press {
  background: v.$color-red-700;
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  --slider-width: 300px;
  --img-height: 190px;
  --mt: 12px;

  @media only screen and (min-width: v.$sm) {
    --slider-width: 280px;
    --img-height: 180px;
  }

  @media only screen and (min-width: v.$md) {
    --slider-width: 365px;
    --img-height: 180px;
    --mt: 16px;
  }

  @media only screen and (min-width: v.$lg) {
    --slider-width: 418px;
    --img-height: 240px;
    --mt: 18px;
  }

  @media only screen and (min-width: v.$xl) {
    --slider-width: 464px;
    --img-height: 310px;
    --mt: 24px;
  }

  @media only screen and (min-width: v.$xxl) {
    height: 806px;
    --slider-width: 636px;
    --img-height: 426px;
    --mt: 48px;
  }

  &-slider {
    margin: 0 auto;
    width: var(--slider-width);
  }

  &-article {
    figure {
      position: relative;
      overflow: hidden;
      height: var(--img-height);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    h3 {
      margin-top: var(--mt);
      width: var(--slider-width);
    }
  }

  &__btn {
    align-self: flex-end;
    @media only screen and (min-width: v.$xl) {
      margin-right: calc(150px - 52px);
    }
  }

  .btn-outline {
    border: 1px solid #fab5b5;

    span {
      color: #fab5b5;
    }

    svg {
      fill: #fab5b5;
    }
  }
}
