@use '../02_base/variables' as v;

.president-authority {
  margin-bottom: 4em;

  ol {
    list-style-type: numbers;

    margin-left: 1em;

    ol {
      list-style-type: georgian;

      @media only screen and (min-width: v.$lg) {
        margin-left: 60px;
      }
    }

    li {
      margin: 2em 0;
      padding-left: 1em;
      max-width: 110ch;
    }
  }
}
