.president-authority {
  margin-bottom: 4em;

  ol {
    list-style-type: numbers;

    ol {
      list-style-type: georgian;
      margin-left: 120px;
    }

    li {
      margin: 2em 0;
      padding-left: 1em;
      max-width: 110ch;
    }
  }
}
