@use "../02_base/variables" as v;

.standard {
  h2 {
    margin-bottom: 48px;
    font-family: v.$font-bpgnino;
    font-size: 26px;
    font-weight: 700;
    color: v.$color-black;
  }

  p {
    margin-bottom: 40px;
  }

  &-photo {
    padding: 0 10px;
  }
}

.dated {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media only screen and (min-width: v.$sm) {
    flex-direction: row;
  }

  time,
  .date {
    min-width: 122px;

    font-family: v.$font-notosansgeo;
    font-size: 16px;
    font-weight: 400;
    color: v.$color-gray-900;
  }
}
