@use '../02_base/variables' as v;

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media only screen and (min-width: v.$xs) {
    padding: 0 28px;
  }

  @media only screen and (min-width: v.$sm) {
    padding: 0 54px;
  }

  @media only screen and (min-width: v.$md) {
    padding: 0 60px;
  }

  @media only screen and (min-width: v.$xl) {
    padding: 0 100px;
  }

  @media only screen and (min-width: v.$xxl) {
    padding: 0 162px;
  }
}

.container-narrow {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media only screen and (min-width: v.$sm) {
    padding: 0 54px;
  }

  @media only screen and (min-width: v.$lg) {
    width: 1080px;
    padding: 0;
  }

  @media only screen and (min-width: v.$xl) {
    width: 1200px;
  }

  @media only screen and (min-width: v.$xxl) {
    width: 1480px;
  }
}

.container--presidents {
  @media only screen and (min-width: v.$xxl) {
    max-width: 1147px;
  }
}

.content-wrapper {
  margin: 64px 0 100px 0;
}
