@use '../02_base/variables' as v;

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;

  @media only screen and (min-width: v.$sm) {
    padding: 0 54px;
  }

  @media only screen and (min-width: v.$md) {
    padding: 0 60px;
  }

  @media only screen and (min-width: v.$xl) {
    padding: 0;
    width: 1366px;
  }
}

.container-narrow {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;

  @media only screen and (min-width: v.$sm) {
    padding: 0 54px;
  }

  @media only screen and (min-width: v.$lg) {
    width: 1080px;
    padding: 0;
  }

  @media only screen and (min-width: v.$xl) {
    width: 1200px;
  }
}

.content-wrapper {
  margin: 64px 0 100px 0;
}

.constitution {
  display: flex;

  .image {
    margin: 3em 0 2em;

    img {
      width: 512px;
      height: 462px;
    }
  }

  p {
    max-width: 1020px;
  }
}

.independence {
  display: flex;

  &-act-photos {
    display: flex;
    flex-direction: column;
    gap: 3em;

    @media only screen and (min-width: v.$sm) {
      flex-direction: row;
      align-items: flex-start;
    }

    figure {
      flex-basis: 50%;
    }

    img {
      margin: 0 auto;
    }

    figcaption {
      margin-top: 1em;
      text-align: center;
    }
  }
}
