.grid-priorities {
  margin-top: 34px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;

  .priority {
    &:last-child {
      grid-column: 1/3;
    }

    .icon {
      margin: 10px 0 10px 0;
    }
  }
}
