@use "../02_base/variables" as v;

.grid-12 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;

  @media only screen and (min-width: v.$lg) {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;

    .span-3 {
      grid-column: span 3;
    }

    .span-4 {
      grid-column: span 4;
    }

    .span-5 {
      grid-column: span 5;
    }

    .span-6 {
      grid-column: span 6;
    }

    .span-7 {
      grid-column: span 7;
    }

    .span-8 {
      grid-column: span 8;
    }

    .span-10 {
      grid-column: span 10;
    }

    .span-12 {
      grid-column: span 12;
    }
  }

  @media only screen and (min-width: v.$xl) {
    column-gap: 40px;
    row-gap: 40px;
  }

  main {
    grid-column: 1/9;
  }

  aside {
    grid-column: 9/13;
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2em;

  @media only screen and (min-width: v.$lg) {
    grid-template-columns: 1fr 386px;
    column-gap: 56px;
  }

  @media only screen and (min-width: v.$xxl) {
    grid-template-columns: 1fr 512px;
    column-gap: 128px;
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2em;

  @media only screen and (min-width: v.$sm) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 50px;
  }

  @media only screen and (min-width: v.$md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2em;

  @media only screen and (min-width: v.$sm) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 50px;
  }

  @media only screen and (min-width: v.$lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (min-width: v.$xl) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.news-section-grid {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 60px;

  @media only screen and (min-width: v.$sm) {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 48px;

    .card {
      grid-column: span 6;
    }

    .card--featured {
      grid-column: span 7;
    }

    .fb-cards-slider,
    > div {
      grid-column: span 5;
    }
  }

  @media only screen and (min-width: v.$lg) {
    .card {
      grid-column: span 4;
    }

    .card--featured {
      grid-column: span 8;
    }

    .fb-cards-slider,
    > div {
      grid-column: span 4;
    }
  }
}
