@use '../02_base/variables' as v;
@use '../02_base/mixins' as m;

.section {
  margin: 70px 0;

  &-heading {
    margin-bottom: 44px;
    display: flex;
    align-items: flex-end;

    h2 {
      margin-right: 16px;
    }
  }

  &-link {
    position: relative;

    &::after {
      @include m.pseudo($width: 100%, $height: 1px);
      bottom: 5px;
      left: 0;
      background: v.$color-gray-900;
    }
  }
}
